In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('clustering_spark').getOrCreate()

## Read Hotels Data

In [2]:
hotels_data = spark.read.csv("hotels_data.csv", header = True, inferSchema = True)

## Converts String to Dates

In [3]:
from pyspark.sql.functions import udf, col
from datetime import datetime
from pyspark.sql.types import DateType, IntegerType

# Converts string to date
def str_to_date(str):    
    return datetime.strptime(str, '%m/%d/%Y %H:%M')

# convert a regular function to pyspark function
udf_strToDate = udf(str_to_date, DateType())

# convert "checking_date" and "snapshot_date" to date types
hotels_data_with_dates = hotels_data.withColumn("checkin_date", udf_strToDate(col("Checkin Date")))
hotels_data_with_dates = hotels_data_with_dates.withColumn("snapshot_date", udf_strToDate(col("Snapshot Date")))

## Get 150 common hotels

In [14]:
from pyspark.sql.functions import desc

# group by hotel name and count, take the first 150 hotels with the biggest count 
count_by_hotel_names = hotels_data_with_dates.groupBy('Hotel Name').count().sort(desc('count')).limit(150)

# get a list of the first 150 hotel names 
first_150_hotel_names = count_by_hotel_names.toPandas()['Hotel Name'].tolist()

# filter the most common 150 hotels from hotels_data_with_dates
hotels_150_data = hotels_data_with_dates.filter(col('Hotel Name').isin(first_150_hotel_names))

first_150_hotel_names

['Newark Liberty International Airport Marriott',
 'Hilton Garden Inn Times Square',
 'Residence Inn Newark Elizabeth Liberty International Airport',
 'Westin New York at Times Square',
 'Loews Regency New York Hotel',
 'Viceroy New York',
 'Four Seasons Hotel New York',
 'Langham Place New York Fifth Avenue',
 'The Carlyle A Rosewood Hotel',
 'DoubleTree by Hilton Metropolitan - New York City',
 'Magnuson Convention Center Hotel',
 'Hilton Garden Inn New York West 35th Street',
 'Hilton Garden Inn New York-Times Square Central',
 'Conrad New York',
 'Wyndham Garden Brooklyn Sunset Park',
 'Hilton Newark Airport',
 'Omni Berkshire Place',
 'Hilton Times Square',
 'Park Hyatt New York',
 'Homewood Suites by Hilton NY Midtown Manhattan Times Square',
 'Grand Hyatt New York',
 'The Plaza Hotel',
 'Quality Inn Woodside',
 'Hyatt Union Square New York',
 'Le Parker Meridien New York',
 'The New York EDITION',
 'W New York - Union Square',
 'Renaissance Newark Airport Hotel',
 'Hampton Inn New York - 35th Street - Empire State Building',
 'The Lexington New York City Autograph Collection',
 'The Roosevelt Hotel New York City',
 'Hilton Garden Inn New York Midtown Park Ave',
 'McCarren Hotel & Pool',
 'Cassa Hotel 45th Street',
 'Hyatt Herald Square New York',
 'Martha Washington',
 'W New York Times Square',
 'Hyatt Place New York Midtown South',
 'DoubleTree by Hilton Hotel Newark Airport',
 'Hampton Inn Manhattan United Nations',
 'Millenium Hilton',
 'Hampton Inn Madison Square Garden Area Hotel',
 'The Towers of the Waldorf Astoria New York',
 'Smyth A Thompson Hotel',
 'DoubleTree by Hilton New York City - Chelsea',
 'DoubleTree by Hilton New York City - Financial District',
 'Hampton Inn Manhattan Soho',
 'Hilton Garden Inn New York Manhattan-Midtown East',
 'Hampton Inn Manhattan Downtown-Financial District',
 'Red Carpet Inn New York City',
 'Hampton Inn Manhattan Times Square Central',
 'Hilton Garden Inn New York Central Park South-Midtown West',
 'Andaz 5th Avenue - a concept by Hyatt',
 'Hilton Garden Inn New York Manhattan-Chelsea',
 'Gild Hall A Thompson Hotel',
 'Hilton Manhattan East',
 'Waldorf Astoria New York',
 'Sheraton New York Times Square Hotel',
 'Hampton Inn Manhattan-Seaport-Financial District',
 'Fairfield Inn by Marriott LaGuardia Airport Flushing',
 'W New York - Downtown',
 'Hilton New York Fashion District',
 'Hyatt Times Square New York',
 'Hampton Inn Manhattan Times Square South',
 'New York Marriott at the Brooklyn Bridge',
 'New York Marriott Downtown',
 'Hilton Garden Inn New York Long Island City',
 'Manhattan NYC-an Affinia hotel',
 'The Muse Hotel a Kimpton Hotel',
 'New York Hilton Midtown',
 'W New York',
 'Andaz Wall Street - a concept by Hyatt',
 'United Nations Apartment Hotel',
 'The Westin New York Grand Central',
 'The Peninsula New York',
 'NOMO SOHO',
 'Home2 Suites by Hilton NY Long Island City Manhattan View',
 'The Standard East Village',
 'DoubleTree Suites by Hilton New York City - Times Square',
 'SpringHill Suites by Marriott Newark Liberty International',
 'Eventi Hotel a Kimpton Hotel',
 'Hampton Inn New York Chelsea',
 'Comfort Inn Times Square South Area',
 'The Pearl New York',
 'DoubleTree by Hilton Hotel New York - Times Square South',
 'The Chatwal a Luxury Collection Hotel New York City',
 'Howard Johnson Inn Jamaica JFK Airport NYC',
 'Hampton Inn & Suites Staten Island',
 'Howard Johnson Flushing',
 'Ramada Long Island City',
 'SIXTY Lower East Side',
 'Courtyard by Marriott New York Manhattan SoHo',
 'Best Western Bayside Inn',
 'Quality Inn Convention Center',
 'Courtyard by Marriott New York Manhattan Times Square',
 'Sheraton LaGuardia East Hotel',
 'The Premier Hotel New York',
 'Hampton Inn JFK Airport',
 'Radisson Martinique on Broadway',
 'GEM Hotel - Chelsea an Ascend Hotel Collection Member',
 'Residence Inn by Marriott New York Manhattan Midtown East',
 'Holiday Inn New York JFK Airport Area',
 'The High Line Hotel',
 'Courtyard by Marriott New York City Manhattan Fifth Avenue',
 'New York Marriott East Side',
 'The SunBright',
 'Hampton Inn Times Square North',
 'Shelburne NYC-an Affinia hotel',
 'The Lombardy',
 'Wyndham Garden - Manhattan Chelsea West',
 'Wyndham Garden Long Island City Manhattan View',
 'Best Western Plus Newark Airport West',
 'Best Western Plus Arena Hotel',
 'Bentley Hotel',
 'ink48 hotel a Kimpton Hotel',
 'Courtyard by Marriott New York Manhattan Upper East Side',
 'Howard Johnson Bronx Near Stadium',
 'Embassy Suites Newark Airport',
 'Hotel 48LEX New York',
 'Hilton Garden Inn Tribeca',
 'Residence Inn New York The Bronx At Metro Center Atrium',
 'Hyatt Place Flushing LaGuardia Airport',
 'San Carlos Hotel',
 'The Roger',
 'Wyndham New Yorker',
 'Roxy Hotel Tribeca (formerly the Tribeca Grand Hotel)',
 'Courtyard Newark Elizabeth',
 'The St. Regis New York',
 'Best Western Bowery Hanbee Hotel',
 'Crowne Plaza Times Square Manhattan',
 'Hudson New York Central Park',
 'Hampton Inn New York - LaGuardia Airport',
 'Wyndham Garden Chinatown',
 'Courtyard New York Manhattan Times Square West',
 'The Kitano New York',
 'Aloft Harlem',
 'Super 8 Brooklyn   Park Slope Hotel',
 'Baccarat Hotel and Residences New York',
 'The Mark',
 'Chelsea Inn',
 'The Out NYC',
 'Courtyard by Marriott New York Manhattan   Central Park',
 'Hilton New York JFK Airport',
 'Blakely New York',
 'Days Inn Bronx Near Stadium',
 'The Benjamin',
 'The Shoreham Hotel',
 'Jet Luxury at the Trump SoHo',
 'Dumont NYC-an Affinia hotel',
 'TRYP By Wyndham Times Square South']

## Filter records by most common 40 checkin dates

In [17]:
# group by checkin and count, take the first 40 with biggest count
count_by_checkin = hotels_150_data.groupBy('checkin_date').count().sort(desc('count')).limit(40)

count_by_checkin = count_by_checkin.collect()

# get a list of the most common 40 checkin dates
first_40_checkin = [row[0] for row in count_by_checkin]
# first_40_checkin = count_by_checkin.toPandas()['checkin_date'].tolist()

# filter hotels data by the 40 most common dates
hotels_by_40_checkin = hotels_150_data.filter(col('checkin_date').isin(first_40_checkin))

first_40_checkin

[datetime.date(2015, 11, 11),
 datetime.date(2015, 10, 14),
 datetime.date(2015, 11, 4),
 datetime.date(2015, 8, 19),
 datetime.date(2015, 10, 28),
 datetime.date(2015, 10, 21),
 datetime.date(2015, 11, 6),
 datetime.date(2015, 8, 12),
 datetime.date(2015, 11, 5),
 datetime.date(2015, 10, 22),
 datetime.date(2015, 11, 12),
 datetime.date(2015, 10, 29),
 datetime.date(2015, 9, 10),
 datetime.date(2015, 9, 9),
 datetime.date(2015, 11, 18),
 datetime.date(2015, 8, 26),
 datetime.date(2015, 11, 10),
 datetime.date(2015, 11, 13),
 datetime.date(2015, 10, 15),
 datetime.date(2015, 11, 21),
 datetime.date(2015, 9, 30),
 datetime.date(2015, 10, 30),
 datetime.date(2015, 9, 16),
 datetime.date(2015, 9, 17),
 datetime.date(2015, 11, 28),
 datetime.date(2015, 10, 1),
 datetime.date(2015, 11, 26),
 datetime.date(2015, 9, 11),
 datetime.date(2015, 9, 18),
 datetime.date(2015, 10, 16),
 datetime.date(2015, 11, 27),
 datetime.date(2015, 10, 2),
 datetime.date(2015, 10, 7),
 datetime.date(2015, 11, 7),
 datetime.date(2015, 8, 28),
 datetime.date(2015, 8, 27),
 datetime.date(2015, 10, 27),
 datetime.date(2015, 11, 3),
 datetime.date(2015, 8, 13),
 datetime.date(2015, 11, 25)]

## Generating synthetic data

In [6]:
#creating unique list for Hotel Name - Checkin Date - Discount code dummy combination generating 
unique_hotels_names = hotels_by_40_checkin.select('Hotel Name').distinct().collect()
unique_hotels_names_list = [(row['Hotel Name']) for row in unique_hotels_names]

unique_checkins =  hotels_by_40_checkin.select("checkin_date").distinct().collect()
unique_checkins_list = [(row['checkin_date']) for row in unique_checkins]

unique_discount_code =  [1,2,3,4]

# Create records with max price for each discount code for each date
synth_data = []
import sys
for x in unique_hotels_names_list:
    for y in unique_checkins_list:
        for z in unique_discount_code:
            synth_data.append([x, y ,z, sys.maxsize])

#Making the schema of synth_data
from pyspark.sql.types import *
cSchema = StructType([StructField("Hotel Name", StringType()),StructField("checkin_date", DateType()),StructField("Discount Code",  IntegerType()),StructField("min(Discount Price)", LongType())])

#Creating dummy df
dummy_df = spark.createDataFrame(synth_data, schema=cSchema)

sliced_df = hotels_by_40_checkin.select('Hotel Name', 'checkin_date','Discount Code', 'Discount Price')

# joining dummy data with grouped data 
hotel_chekin_discountCode = sliced_df.union(dummy_df)

# group by Checkin - Hotel - Discount Code
hotel_chekin_discountCode = hotel_chekin_discountCode.groupBy('Hotel name','checkin_date', 'Discount Code').min('Discount Price')

#replacing sys.max with -1 
hotel_chekin_discountCode = hotel_chekin_discountCode.replace(sys.maxsize, -1)

#sorting date
hotel_chekin_discountCode = hotel_chekin_discountCode.orderBy(['Hotel name','checkin_date','Discount Code'])

## Normalizing data

In [7]:
#split to two groups: one with price of -1, one with greater than -1
groupMinus = hotel_chekin_discountCode.filter(col('min(Discount Price)') == -1)
groupGreater = hotel_chekin_discountCode.filter(col('min(Discount Price)') > -1)

In [8]:
from pyspark.sql import SQLContext
from pyspark.sql.window import Window
import pyspark.sql.functions as func

groupGreater.createOrReplaceTempView("normalization")

#Creating SQLContext for SQL converting
sqlContext = SQLContext(spark)
    
#Preparing data for normalization
dataFrame = sqlContext.table("normalization")
#Partioning data for groups so we can applay function on groups
windowSpec = Window.partitionBy(groupGreater['Hotel name'])  


#Normalize function
diff = func.max(dataFrame['min(Discount Price)']).over(windowSpec) - func.min(dataFrame['min(Discount Price)']).over(windowSpec)
normalize = func.when( diff == 0, 0).otherwise( ( dataFrame['min(Discount Price)'] - func.min(dataFrame['min(Discount Price)']).over(windowSpec) ) / diff * 100 )

# diff = func.max(dataFrame['min(Discount Price)']).over(windowSpec) - func.min(dataFrame['min(Discount Price)']).over(windowSpec) == 0, 0).otherwise( ( func.max(dataFrame['min(Discount Price)']).over(windowSpec) - func.min(dataFrame['min(Discount Price)']).over(windowSpec) ) * 100 )
# normalize =  ((dataFrame['min(Discount Price)'] - func.min(dataFrame['min(Discount Price)']).over(windowSpec)) / diff)

normalized_df = dataFrame.select(
  dataFrame['Hotel Name'],
  dataFrame['checkin_date'],
  dataFrame['Discount Code'],
  normalize.alias("Normal"))

# normalized_df.toPandas().isnull().values.any()

### Joining back -1 values

In [9]:
#Changing column name for same schema
groupMinus = groupMinus.withColumnRenamed('min(Discount Price)','Normal')

#Union all data frames with sorting
normalized_df = normalized_df.union(groupMinus)
normalized_df = normalized_df.orderBy(['Hotel name','checkin_date','Discount Code'])

In [10]:
# normalized_df.dtypes

## Flatten each hotel values to Vector Dense values

In [11]:
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.ml.linalg import SparseVector, DenseVector
from pyspark.ml.linalg import Vectors, VectorUDT

to_vector = udf(lambda a: Vectors.dense(a), VectorUDT())

normal_toList = normalized_df.groupBy('Hotel name').agg(F.collect_list('Normal').alias("features"))
normal_features = normal_toList.withColumn("features",to_vector("features")).drop("Hotel Name")

#normal_toList.select("Normal").flatMap(lambda x : x)

#parsing to df 
#all_hotels_df =  normal_toList.select([normal_toList["Hotel name"]] +  [normal_toList.Normal[i] for i in range(160)])

## Calculating Bisecting K-Means

In [19]:
from pyspark.ml.clustering import BisectingKMeans

bkm = BisectingKMeans(k=2, minDivisibleClusterSize=1.0)
model = bkm.fit(normal_features)
centers = model.clusterCenters()
print(centers)


# NOTES
# The Bisecting algorithem is an top-down algorithem.
# First, it collect the data to the driver, and on each divide it's split the data into partitions to make it parellelize 
# without dependeny of data.

[array([6.78064200e+00, 5.00971299e+00, 4.74151800e+00, 1.01035078e+00,
       1.53957323e+00, 4.54731496e+00, 2.18055430e+00, 1.51242508e+00,
       2.40490691e+00, 2.34360919e+00, 3.04890332e+00, 7.95632616e-01,
       2.40714876e+00, 3.38832908e+00, 1.09663390e+00, 5.67565267e-01,
       2.02534642e+00, 3.60851283e+00, 2.15370354e+00, 6.21461435e-01,
       2.90935899e+00, 6.05531627e+00, 5.48503269e+00, 7.99441900e-01,
       4.86479988e+00, 1.12691275e+01, 1.06123528e+01, 4.19683575e+00,
       8.75847216e+00, 1.97741475e+01, 9.01797845e+00, 7.76225808e+00,
       6.25786848e+00, 1.70576385e+01, 8.05304841e+00, 2.34412752e+00,
       2.97021209e+00, 7.01486495e+00, 5.98886753e+00, 6.03631016e+00,
       4.21701376e+00, 8.61357780e+00, 5.58422962e+00, 3.16943914e+00,
       6.43481316e+00, 1.15902502e+01, 7.15791863e+00, 3.97121028e+00,
       9.03593481e+00, 8.48587660e+00, 8.65401889e+00, 5.02895988e+00,
       1.09501965e+01, 1.00908663e+01, 1.34504963e+01, 7.38894263e+00,
       8.06431723e+00, 1.95293118e+01, 1.03285291e+01, 7.28171645e+00,
       6.53670982e+00, 1.13074558e+01, 1.23746566e+01, 7.31622450e+00,
       5.78774192e+00, 1.31993162e+01, 1.30886697e+01, 5.41829193e+00,
       7.33809404e+00, 1.55006048e+01, 1.16362691e+01, 6.71438579e+00,
       8.27425355e+00, 1.65380535e+01, 1.60873747e+01, 6.10858439e+00,
       9.66215841e+00, 1.67363048e+01, 1.30551177e+01, 1.18549900e+01,
       6.07522061e+00, 1.21004737e+01, 1.36732670e+01, 3.88847409e+00,
       5.58586910e+00, 1.33206256e+01, 1.58939141e+01, 3.52407306e+00,
       1.13309135e+01, 1.25525948e+01, 1.21561026e+01, 6.73097816e+00,
       5.44321567e+00, 9.88439629e+00, 1.10886585e+01, 7.98526868e+00,
       4.82995883e+00, 1.29100000e+01, 8.75995996e+00, 4.10275673e+00,
       4.06826860e+00, 7.93122961e+00, 1.04050935e+01, 4.65984362e+00,
       7.76533241e+00, 1.08340064e+01, 6.14672929e+00, 3.66441304e+00,
       6.70497892e+00, 1.43042348e+01, 1.01176694e+01, 5.40103682e+00,
       7.16272108e+00, 1.63071264e+01, 1.35218762e+01, 4.17455383e+00,
       1.01277153e+01, 1.61531889e+01, 8.21825636e+00, 2.73508196e+00,
       6.46026220e+00, 9.99098051e+00, 1.36518590e+01, 5.87649024e+00,
       5.23833605e+00, 8.87311564e+00, 7.37448925e+00, 2.44360481e+00,
       4.02099515e+00, 5.56406289e+00, 4.21783803e+00, 3.20846819e+00,
       3.76847185e+00, 9.06551814e+00, 7.05449988e+00, 1.14640669e+00,
       3.52565078e+00, 2.37782905e+00, 4.01402885e+00, 1.51052436e+00,
       8.13390814e-01, 2.03173237e+00, 2.34744141e+00, 4.46161373e-01,
       1.79325488e+00, 3.64535661e+00, 9.87653866e-01, 1.35418593e-02,
       2.75264804e+00, 4.74288615e+00, 3.88790558e+00, 1.97620037e+00,
       2.98270137e+00, 1.20197833e+01, 1.01688128e+01, 3.28253933e+00,
       5.78516157e+00, 8.98515042e+00, 7.18991240e+00, 2.65390485e+00]), array([15.66007322, 19.50893033, 21.39113365, 16.51730556,  7.86482799,
       13.75923415, 13.47616693, 10.52137072, 12.27974025, 15.10497022,
       17.03869383, 12.73662607,  7.65084208, 10.96724125, 11.93581821,
        9.76074455,  7.73725621,  7.69068625,  9.41726765,  5.89921271,
        9.07651649, 10.22436715,  9.48241769,  6.52890532, 30.19012291,
       36.5792221 , 43.49696081, 26.90474898, 21.33737172, 35.97744513,
       31.25179306, 26.78813418, 36.48639014, 41.16551593, 35.88256479,
       15.4793475 , 31.54686904, 37.18520225, 56.45116125, 42.24360009,
       25.09122649, 39.55812093, 38.1295893 , 33.0006264 , 38.97617041,
       40.72443221, 36.06273444, 26.07315479, 33.09978681, 35.3821118 ,
       46.17560266, 33.61825105, 22.42558229, 38.308612  , 29.8282306 ,
       29.84250484, 37.26531863, 36.47882157, 35.51604451, 30.40300979,
       38.20506285, 47.23643141, 44.37406908, 42.90686009, 39.62776237,
       52.39380019, 58.57931586, 41.43622381, 25.12587937, 43.81918172,
       35.4397097 , 33.15726601, 28.69164245, 39.1740947 , 36.00791486,
       23.14215458, 36.46812331, 42.28155257, 46.6260289 , 39.06829592,
       29.51484158, 35.92200502, 38.00754898, 38.34438302, 14.05194163,
       32.0728616 , 34.49687767, 20.78302027, 30.84884277, 33.35681809,
       37.1735136 , 27.4153681 , 23.67866518, 34.28153173, 32.42039758,
       19.72993048, 32.93472385, 34.79042569, 25.85900374, 15.00987635,
       17.58477781, 37.55264644, 38.82191377, 27.87576106, 29.22366043,
       34.707834  , 37.66915474, 24.12562356, 19.96217425, 27.81891676,
       20.00470698, 20.51660987, 28.19991453, 29.80720571, 30.47135728,
       18.35666809, 29.21849049, 36.78098359, 25.33089243, 10.12967212,
       13.45604888, 25.65568303, 27.79366275, 23.99629232, 24.17261812,
       28.16973506, 30.41669131, 22.0822566 , 12.79243939, 18.36381983,
       21.96549509, 15.84613904, 24.15795594, 23.68837164, 25.07252083,
       17.37178204, 11.38337382, 14.92088144, 17.02329591, 13.71706539,
        3.70417882,  6.48967956,  4.51346727,  3.49176974,  5.52840047,
        7.56199473, 11.87308865, 11.43363496,  9.55474081, 10.24404388,
       13.57170894,  9.81848999, 15.46721241, 21.25323524, 22.96824945,
       16.50864394, 24.29250987, 25.52823381, 24.63679583, 16.21522217])]

In [20]:
len(centers)

2

## Dendogram

In [ ]:
#importing clustering libaries 
from scipy.cluster.hierarchy import dendrogram, linkage 
from matplotlib import pyplot as plt
from scipy import cluster
shc = cluster.hierarchy

# back to pandas
vector = all_hotels_df.toPandas()

print (vector[vector["Hotel name"] == "Bentley Hotel"])

#preproccesing data for clustering
labels = vector.values[:,0]
data = vector.values[:,1:160]
plt.figure(figsize=(20, 10))  
plt.title("Clustering Hotels")  

# "ward" - minimizes the variance between clusters, that means that each two clusters were combine if their variance is alike 
Z = shc.linkage(data, method='ward')
dend = shc.dendrogram(Z, labels=labels)

## Hotel to Cluster

In [ ]:
from sklearn.cluster import AgglomerativeClustering
import pandas as pd

#running the algorithem again in a diffrent way
cluster = AgglomerativeClustering(n_clusters=3, affinity='euclidean', linkage='ward')  
clusters = cluster.fit_predict(vector.values[:,1:160])  

hotels = pd.DataFrame.from_records(vector.values)

hotels["cluster"] = clusters
hotels = hotels[[0,"cluster"]]
hotels.sort_values(by=["cluster"],ascending=True,inplace=True)

hotels["Count"] = hotels.groupby("cluster")[0].transform("count")
# hotels[hotels[0] == "NOMO SOHO"]
hotels