In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
df = pd.read_csv("hotels_data.csv")
df

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4
5,1,7/17/2015 0:00,8/7/2015 0:00,5,1436,1345,1,9,Grand Hyatt New York,4
6,1,7/17/2015 0:00,8/9/2015 0:00,5,1616,1525,1,5,Grand Hyatt New York,4
7,1,7/17/2015 0:00,8/12/2015 0:00,5,1256,1183,1,5,Grand Hyatt New York,4
8,1,7/17/2015 0:00,8/13/2015 0:00,5,1256,1201,1,54,Grand Hyatt New York,4
9,1,7/17/2015 0:00,7/22/2015 0:00,5,1689,1489,1,-1,Hilton New York Fashion District,4
10,1,7/17/2015 0:00,7/30/2015 0:00,5,2098,2003,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4
11,1,7/17/2015 0:00,7/31/2015 0:00,5,2120,2026,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4
12,1,7/17/2015 0:00,7/26/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3
13,1,7/17/2015 0:00,8/2/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3
14,1,7/17/2015 0:00,7/22/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5
15,1,7/17/2015 0:00,7/23/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5
16,1,7/17/2015 0:00,7/24/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5
17,1,7/17/2015 0:00,7/25/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5
18,1,7/17/2015 0:00,7/26/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5
19,1,7/17/2015 0:00,7/27/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5
20,1,7/17/2015 0:00,7/28/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5
21,1,7/17/2015 0:00,8/3/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5
22,1,7/17/2015 0:00,8/4/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5
23,1,7/17/2015 0:00,8/5/2015 0:00,5,3763,3378,1,49,Park Hyatt New York,5
24,1,7/17/2015 0:00,8/6/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5
25,1,7/17/2015 0:00,8/7/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5
26,1,7/17/2015 0:00,8/8/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5
27,1,7/17/2015 0:00,8/9/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5
28,1,7/17/2015 0:00,8/10/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5
29,1,7/17/2015 0:00,8/12/2015 0:00,5,3763,3378,1,39,Park Hyatt New York,5
...,...,...,...,...,...,...,...,...,...,...
187818,99,8/15/2015 0:00,8/17/2015 0:00,5,1311,1229,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4
187819,99,8/15/2015 0:00,8/19/2015 0:00,5,1029,949,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4
187820,99,8/15/2015 0:00,8/30/2015 0:00,5,1006,874,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4
187821,99,8/15/2015 0:00,9/3/2015 0:00,5,1230,1158,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4
187822,99,8/15/2015 0:00,9/2/2015 0:00,5,2133,1984,4,-1,Hampton Inn Manhattan United Nations,3
187823,99,8/15/2015 0:00,9/4/2015 0:00,5,1922,1246,4,-1,Hampton Inn Manhattan United Nations,3
187824,99,8/15/2015 0:00,9/17/2015 0:00,5,1607,1363,4,-1,Hampton Inn Manhattan United Nations,3
187825,99,8/15/2015 0:00,9/18/2015 0:00,5,1859,1606,4,-1,Hampton Inn Manhattan United Nations,3
187826,99,8/15/2015 0:00,9/17/2015 0:00,5,1210,1158,4,-1,Fairfield Inn & Suites New York Queens Queensb...,3
187827,99,8/15/2015 0:00,9/9/2015 0:00,5,1665,1548,4,-1,Hampton Inn Madison Square Garden Area Hotel,3
187828,99,8/15/2015 0:00,8/17/2015 0:00,5,1166,1112,4,-1,Holiday Inn Express New York City Times Square,3
187829,99,8/15/2015 0:00,8/20/2015 0:00,5,1122,1054,4,1,Martha Washington,4
187830,99,8/15/2015 0:00,8/25/2015 0:00,5,1238,1098,4,1,Martha Washington,4
187831,99,8/15/2015 0:00,8/31/2015 0:00,5,1175,1122,4,27,Martha Washington,4
187832,99,8/15/2015 0:00,9/16/2015 0:00,5,1786,1561,4,3,The Gregory,4
187833,99,8/15/2015 0:00,9/17/2015 0:00,5,1759,1559,4,3,The Gregory,4
187834,99,8/15/2015 0:00,8/19/2015 0:00,5,1095,1025,4,-1,DoubleTree by Hilton New York City - Financial...,4
187835,99,8/15/2015 0:00,8/20/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4
187836,99,8/15/2015 0:00,8/27/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4
187837,99,8/15/2015 0:00,9/7/2015 0:00,5,2215,2061,4,83,NOMO SOHO,5
187838,99,8/15/2015 0:00,8/25/2015 0:00,5,1322,1268,4,92,W New York,4
187839,99,8/15/2015 0:00,8/19/2015 0:00,5,1445,1345,4,-1,Cassa Hotel 45th Street,4
187840,99,8/15/2015 0:00,8/26/2015 0:00,5,1545,1435,4,-1,Cassa Hotel 45th Street,4
187841,99,8/15/2015 0:00,8/27/2015 0:00,5,1245,1075,4,-1,Cassa Hotel 45th Street,4
187842,99,8/15/2015 0:00,9/3/2015 0:00,5,1895,1735,4,-1,Cassa Hotel 45th Street,4
187843,99,8/15/2015 0:00,9/4/2015 0:00,5,1995,1935,4,-1,Cassa Hotel 45th Street,4
187844,99,8/15/2015 0:00,9/4/2015 0:00,5,2105,1865,4,4,The Jade Hotel,4
187845,99,8/15/2015 0:00,8/20/2015 0:00,5,1456,1397,4,8,Hyatt Union Square New York,4
187846,99,8/15/2015 0:00,9/2/2015 0:00,5,1705,1648,4,2,Hyatt Union Square New York,4
187847,99,8/15/2015 0:00,9/4/2015 0:00,5,1895,1743,4,-1,Hyatt Union Square New York,4

In [40]:
# 1.a
from datetime import datetime
from dateutil.parser import parse

def get_datetime(date_str):
    return datetime.strptime(date_str, '%m/%d/%Y %H:%M')

df["DayDiff"] = DataFrame([get_datetime(val) for val in df["Checkin Date"]]) - DataFrame([get_datetime(val) for val in df["Snapshot Date"]])
df

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days
5,1,7/17/2015 0:00,8/7/2015 0:00,5,1436,1345,1,9,Grand Hyatt New York,4,21 days
6,1,7/17/2015 0:00,8/9/2015 0:00,5,1616,1525,1,5,Grand Hyatt New York,4,23 days
7,1,7/17/2015 0:00,8/12/2015 0:00,5,1256,1183,1,5,Grand Hyatt New York,4,26 days
8,1,7/17/2015 0:00,8/13/2015 0:00,5,1256,1201,1,54,Grand Hyatt New York,4,27 days
9,1,7/17/2015 0:00,7/22/2015 0:00,5,1689,1489,1,-1,Hilton New York Fashion District,4,5 days
10,1,7/17/2015 0:00,7/30/2015 0:00,5,2098,2003,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,13 days
11,1,7/17/2015 0:00,7/31/2015 0:00,5,2120,2026,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,14 days
12,1,7/17/2015 0:00,7/26/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,9 days
13,1,7/17/2015 0:00,8/2/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,16 days
14,1,7/17/2015 0:00,7/22/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,5 days
15,1,7/17/2015 0:00,7/23/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,6 days
16,1,7/17/2015 0:00,7/24/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,7 days
17,1,7/17/2015 0:00,7/25/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,8 days
18,1,7/17/2015 0:00,7/26/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,9 days
19,1,7/17/2015 0:00,7/27/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,10 days
20,1,7/17/2015 0:00,7/28/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,11 days
21,1,7/17/2015 0:00,8/3/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,17 days
22,1,7/17/2015 0:00,8/4/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,18 days
23,1,7/17/2015 0:00,8/5/2015 0:00,5,3763,3378,1,49,Park Hyatt New York,5,19 days
24,1,7/17/2015 0:00,8/6/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,20 days
25,1,7/17/2015 0:00,8/7/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,21 days
26,1,7/17/2015 0:00,8/8/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,22 days
27,1,7/17/2015 0:00,8/9/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,23 days
28,1,7/17/2015 0:00,8/10/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,24 days
29,1,7/17/2015 0:00,8/12/2015 0:00,5,3763,3378,1,39,Park Hyatt New York,5,26 days
...,...,...,...,...,...,...,...,...,...,...,...
187818,99,8/15/2015 0:00,8/17/2015 0:00,5,1311,1229,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,2 days
187819,99,8/15/2015 0:00,8/19/2015 0:00,5,1029,949,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,4 days
187820,99,8/15/2015 0:00,8/30/2015 0:00,5,1006,874,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,15 days
187821,99,8/15/2015 0:00,9/3/2015 0:00,5,1230,1158,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,19 days
187822,99,8/15/2015 0:00,9/2/2015 0:00,5,2133,1984,4,-1,Hampton Inn Manhattan United Nations,3,18 days
187823,99,8/15/2015 0:00,9/4/2015 0:00,5,1922,1246,4,-1,Hampton Inn Manhattan United Nations,3,20 days
187824,99,8/15/2015 0:00,9/17/2015 0:00,5,1607,1363,4,-1,Hampton Inn Manhattan United Nations,3,33 days
187825,99,8/15/2015 0:00,9/18/2015 0:00,5,1859,1606,4,-1,Hampton Inn Manhattan United Nations,3,34 days
187826,99,8/15/2015 0:00,9/17/2015 0:00,5,1210,1158,4,-1,Fairfield Inn & Suites New York Queens Queensb...,3,33 days
187827,99,8/15/2015 0:00,9/9/2015 0:00,5,1665,1548,4,-1,Hampton Inn Madison Square Garden Area Hotel,3,25 days
187828,99,8/15/2015 0:00,8/17/2015 0:00,5,1166,1112,4,-1,Holiday Inn Express New York City Times Square,3,2 days
187829,99,8/15/2015 0:00,8/20/2015 0:00,5,1122,1054,4,1,Martha Washington,4,5 days
187830,99,8/15/2015 0:00,8/25/2015 0:00,5,1238,1098,4,1,Martha Washington,4,10 days
187831,99,8/15/2015 0:00,8/31/2015 0:00,5,1175,1122,4,27,Martha Washington,4,16 days
187832,99,8/15/2015 0:00,9/16/2015 0:00,5,1786,1561,4,3,The Gregory,4,32 days
187833,99,8/15/2015 0:00,9/17/2015 0:00,5,1759,1559,4,3,The Gregory,4,33 days
187834,99,8/15/2015 0:00,8/19/2015 0:00,5,1095,1025,4,-1,DoubleTree by Hilton New York City - Financial...,4,4 days
187835,99,8/15/2015 0:00,8/20/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,5 days
187836,99,8/15/2015 0:00,8/27/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,12 days
187837,99,8/15/2015 0:00,9/7/2015 0:00,5,2215,2061,4,83,NOMO SOHO,5,23 days
187838,99,8/15/2015 0:00,8/25/2015 0:00,5,1322,1268,4,92,W New York,4,10 days
187839,99,8/15/2015 0:00,8/19/2015 0:00,5,1445,1345,4,-1,Cassa Hotel 45th Street,4,4 days
187840,99,8/15/2015 0:00,8/26/2015 0:00,5,1545,1435,4,-1,Cassa Hotel 45th Street,4,11 days
187841,99,8/15/2015 0:00,8/27/2015 0:00,5,1245,1075,4,-1,Cassa Hotel 45th Street,4,12 days
187842,99,8/15/2015 0:00,9/3/2015 0:00,5,1895,1735,4,-1,Cassa Hotel 45th Street,4,19 days
187843,99,8/15/2015 0:00,9/4/2015 0:00,5,1995,1935,4,-1,Cassa Hotel 45th Street,4,20 days
187844,99,8/15/2015 0:00,9/4/2015 0:00,5,2105,1865,4,4,The Jade Hotel,4,20 days
187845,99,8/15/2015 0:00,8/20/2015 0:00,5,1456,1397,4,8,Hyatt Union Square New York,4,5 days
187846,99,8/15/2015 0:00,9/2/2015 0:00,5,1705,1648,4,2,Hyatt Union Square New York,4,18 days
187847,99,8/15/2015 0:00,9/4/2015 0:00,5,1895,1743,4,-1,Hyatt Union Square New York,4,20 days

In [43]:
#1.b

df["WeekDay"] = DataFrame([get_datetime(val).weekday() for val in df["Checkin Date"]])
df

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2
5,1,7/17/2015 0:00,8/7/2015 0:00,5,1436,1345,1,9,Grand Hyatt New York,4,21 days,4
6,1,7/17/2015 0:00,8/9/2015 0:00,5,1616,1525,1,5,Grand Hyatt New York,4,23 days,6
7,1,7/17/2015 0:00,8/12/2015 0:00,5,1256,1183,1,5,Grand Hyatt New York,4,26 days,2
8,1,7/17/2015 0:00,8/13/2015 0:00,5,1256,1201,1,54,Grand Hyatt New York,4,27 days,3
9,1,7/17/2015 0:00,7/22/2015 0:00,5,1689,1489,1,-1,Hilton New York Fashion District,4,5 days,2
10,1,7/17/2015 0:00,7/30/2015 0:00,5,2098,2003,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,13 days,3
11,1,7/17/2015 0:00,7/31/2015 0:00,5,2120,2026,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,14 days,4
12,1,7/17/2015 0:00,7/26/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,9 days,6
13,1,7/17/2015 0:00,8/2/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,16 days,6
14,1,7/17/2015 0:00,7/22/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,5 days,2
15,1,7/17/2015 0:00,7/23/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,6 days,3
16,1,7/17/2015 0:00,7/24/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,7 days,4
17,1,7/17/2015 0:00,7/25/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,8 days,5
18,1,7/17/2015 0:00,7/26/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,9 days,6
19,1,7/17/2015 0:00,7/27/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,10 days,0
20,1,7/17/2015 0:00,7/28/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,11 days,1
21,1,7/17/2015 0:00,8/3/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,17 days,0
22,1,7/17/2015 0:00,8/4/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,18 days,1
23,1,7/17/2015 0:00,8/5/2015 0:00,5,3763,3378,1,49,Park Hyatt New York,5,19 days,2
24,1,7/17/2015 0:00,8/6/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,20 days,3
25,1,7/17/2015 0:00,8/7/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,21 days,4
26,1,7/17/2015 0:00,8/8/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,22 days,5
27,1,7/17/2015 0:00,8/9/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,23 days,6
28,1,7/17/2015 0:00,8/10/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,24 days,0
29,1,7/17/2015 0:00,8/12/2015 0:00,5,3763,3378,1,39,Park Hyatt New York,5,26 days,2
...,...,...,...,...,...,...,...,...,...,...,...,...
187818,99,8/15/2015 0:00,8/17/2015 0:00,5,1311,1229,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,2 days,0
187819,99,8/15/2015 0:00,8/19/2015 0:00,5,1029,949,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,4 days,2
187820,99,8/15/2015 0:00,8/30/2015 0:00,5,1006,874,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,15 days,6
187821,99,8/15/2015 0:00,9/3/2015 0:00,5,1230,1158,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,19 days,3
187822,99,8/15/2015 0:00,9/2/2015 0:00,5,2133,1984,4,-1,Hampton Inn Manhattan United Nations,3,18 days,2
187823,99,8/15/2015 0:00,9/4/2015 0:00,5,1922,1246,4,-1,Hampton Inn Manhattan United Nations,3,20 days,4
187824,99,8/15/2015 0:00,9/17/2015 0:00,5,1607,1363,4,-1,Hampton Inn Manhattan United Nations,3,33 days,3
187825,99,8/15/2015 0:00,9/18/2015 0:00,5,1859,1606,4,-1,Hampton Inn Manhattan United Nations,3,34 days,4
187826,99,8/15/2015 0:00,9/17/2015 0:00,5,1210,1158,4,-1,Fairfield Inn & Suites New York Queens Queensb...,3,33 days,3
187827,99,8/15/2015 0:00,9/9/2015 0:00,5,1665,1548,4,-1,Hampton Inn Madison Square Garden Area Hotel,3,25 days,2
187828,99,8/15/2015 0:00,8/17/2015 0:00,5,1166,1112,4,-1,Holiday Inn Express New York City Times Square,3,2 days,0
187829,99,8/15/2015 0:00,8/20/2015 0:00,5,1122,1054,4,1,Martha Washington,4,5 days,3
187830,99,8/15/2015 0:00,8/25/2015 0:00,5,1238,1098,4,1,Martha Washington,4,10 days,1
187831,99,8/15/2015 0:00,8/31/2015 0:00,5,1175,1122,4,27,Martha Washington,4,16 days,0
187832,99,8/15/2015 0:00,9/16/2015 0:00,5,1786,1561,4,3,The Gregory,4,32 days,2
187833,99,8/15/2015 0:00,9/17/2015 0:00,5,1759,1559,4,3,The Gregory,4,33 days,3
187834,99,8/15/2015 0:00,8/19/2015 0:00,5,1095,1025,4,-1,DoubleTree by Hilton New York City - Financial...,4,4 days,2
187835,99,8/15/2015 0:00,8/20/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,5 days,3
187836,99,8/15/2015 0:00,8/27/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,12 days,3
187837,99,8/15/2015 0:00,9/7/2015 0:00,5,2215,2061,4,83,NOMO SOHO,5,23 days,0
187838,99,8/15/2015 0:00,8/25/2015 0:00,5,1322,1268,4,92,W New York,4,10 days,1
187839,99,8/15/2015 0:00,8/19/2015 0:00,5,1445,1345,4,-1,Cassa Hotel 45th Street,4,4 days,2
187840,99,8/15/2015 0:00,8/26/2015 0:00,5,1545,1435,4,-1,Cassa Hotel 45th Street,4,11 days,2
187841,99,8/15/2015 0:00,8/27/2015 0:00,5,1245,1075,4,-1,Cassa Hotel 45th Street,4,12 days,3
187842,99,8/15/2015 0:00,9/3/2015 0:00,5,1895,1735,4,-1,Cassa Hotel 45th Street,4,19 days,3
187843,99,8/15/2015 0:00,9/4/2015 0:00,5,1995,1935,4,-1,Cassa Hotel 45th Street,4,20 days,4
187844,99,8/15/2015 0:00,9/4/2015 0:00,5,2105,1865,4,4,The Jade Hotel,4,20 days,4
187845,99,8/15/2015 0:00,8/20/2015 0:00,5,1456,1397,4,8,Hyatt Union Square New York,4,5 days,3
187846,99,8/15/2015 0:00,9/2/2015 0:00,5,1705,1648,4,2,Hyatt Union Square New York,4,18 days,2
187847,99,8/15/2015 0:00,9/4/2015 0:00,5,1895,1743,4,-1,Hyatt Union Square New York,4,20 days,4

In [45]:
#1.c

df["DiscountDiff"] = df["Original Price"] - df["Discount Price"]
df

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2,138
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2,131
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3,130
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6,72
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2,67
5,1,7/17/2015 0:00,8/7/2015 0:00,5,1436,1345,1,9,Grand Hyatt New York,4,21 days,4,91
6,1,7/17/2015 0:00,8/9/2015 0:00,5,1616,1525,1,5,Grand Hyatt New York,4,23 days,6,91
7,1,7/17/2015 0:00,8/12/2015 0:00,5,1256,1183,1,5,Grand Hyatt New York,4,26 days,2,73
8,1,7/17/2015 0:00,8/13/2015 0:00,5,1256,1201,1,54,Grand Hyatt New York,4,27 days,3,55
9,1,7/17/2015 0:00,7/22/2015 0:00,5,1689,1489,1,-1,Hilton New York Fashion District,4,5 days,2,200
10,1,7/17/2015 0:00,7/30/2015 0:00,5,2098,2003,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,13 days,3,95
11,1,7/17/2015 0:00,7/31/2015 0:00,5,2120,2026,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,14 days,4,94
12,1,7/17/2015 0:00,7/26/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,9 days,6,70
13,1,7/17/2015 0:00,8/2/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,16 days,6,70
14,1,7/17/2015 0:00,7/22/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,5 days,2,150
15,1,7/17/2015 0:00,7/23/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,6 days,3,150
16,1,7/17/2015 0:00,7/24/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,7 days,4,150
17,1,7/17/2015 0:00,7/25/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,8 days,5,150
18,1,7/17/2015 0:00,7/26/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,9 days,6,150
19,1,7/17/2015 0:00,7/27/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,10 days,0,150
20,1,7/17/2015 0:00,7/28/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,11 days,1,150
21,1,7/17/2015 0:00,8/3/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,17 days,0,85
22,1,7/17/2015 0:00,8/4/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,18 days,1,85
23,1,7/17/2015 0:00,8/5/2015 0:00,5,3763,3378,1,49,Park Hyatt New York,5,19 days,2,385
24,1,7/17/2015 0:00,8/6/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,20 days,3,85
25,1,7/17/2015 0:00,8/7/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,21 days,4,175
26,1,7/17/2015 0:00,8/8/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,22 days,5,175
27,1,7/17/2015 0:00,8/9/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,23 days,6,175
28,1,7/17/2015 0:00,8/10/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,24 days,0,85
29,1,7/17/2015 0:00,8/12/2015 0:00,5,3763,3378,1,39,Park Hyatt New York,5,26 days,2,385
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187818,99,8/15/2015 0:00,8/17/2015 0:00,5,1311,1229,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,2 days,0,82
187819,99,8/15/2015 0:00,8/19/2015 0:00,5,1029,949,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,4 days,2,80
187820,99,8/15/2015 0:00,8/30/2015 0:00,5,1006,874,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,15 days,6,132
187821,99,8/15/2015 0:00,9/3/2015 0:00,5,1230,1158,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,19 days,3,72
187822,99,8/15/2015 0:00,9/2/2015 0:00,5,2133,1984,4,-1,Hampton Inn Manhattan United Nations,3,18 days,2,149
187823,99,8/15/2015 0:00,9/4/2015 0:00,5,1922,1246,4,-1,Hampton Inn Manhattan United Nations,3,20 days,4,676
187824,99,8/15/2015 0:00,9/17/2015 0:00,5,1607,1363,4,-1,Hampton Inn Manhattan United Nations,3,33 days,3,244
187825,99,8/15/2015 0:00,9/18/2015 0:00,5,1859,1606,4,-1,Hampton Inn Manhattan United Nations,3,34 days,4,253
187826,99,8/15/2015 0:00,9/17/2015 0:00,5,1210,1158,4,-1,Fairfield Inn & Suites New York Queens Queensb...,3,33 days,3,52
187827,99,8/15/2015 0:00,9/9/2015 0:00,5,1665,1548,4,-1,Hampton Inn Madison Square Garden Area Hotel,3,25 days,2,117
187828,99,8/15/2015 0:00,8/17/2015 0:00,5,1166,1112,4,-1,Holiday Inn Express New York City Times Square,3,2 days,0,54
187829,99,8/15/2015 0:00,8/20/2015 0:00,5,1122,1054,4,1,Martha Washington,4,5 days,3,68
187830,99,8/15/2015 0:00,8/25/2015 0:00,5,1238,1098,4,1,Martha Washington,4,10 days,1,140
187831,99,8/15/2015 0:00,8/31/2015 0:00,5,1175,1122,4,27,Martha Washington,4,16 days,0,53
187832,99,8/15/2015 0:00,9/16/2015 0:00,5,1786,1561,4,3,The Gregory,4,32 days,2,225
187833,99,8/15/2015 0:00,9/17/2015 0:00,5,1759,1559,4,3,The Gregory,4,33 days,3,200
187834,99,8/15/2015 0:00,8/19/2015 0:00,5,1095,1025,4,-1,DoubleTree by Hilton New York City - Financial...,4,4 days,2,70
187835,99,8/15/2015 0:00,8/20/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,5 days,3,130
187836,99,8/15/2015 0:00,8/27/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,12 days,3,130
187837,99,8/15/2015 0:00,9/7/2015 0:00,5,2215,2061,4,83,NOMO SOHO,5,23 days,0,154
187838,99,8/15/2015 0:00,8/25/2015 0:00,5,1322,1268,4,92,W New York,4,10 days,1,54
187839,99,8/15/2015 0:00,8/19/2015 0:00,5,1445,1345,4,-1,Cassa Hotel 45th Street,4,4 days,2,100
187840,99,8/15/2015 0:00,8/26/2015 0:00,5,1545,1435,4,-1,Cassa Hotel 45th Street,4,11 days,2,110
187841,99,8/15/2015 0:00,8/27/2015 0:00,5,1245,1075,4,-1,Cassa Hotel 45th Street,4,12 days,3,170
187842,99,8/15/2015 0:00,9/3/2015 0:00,5,1895,1735,4,-1,Cassa Hotel 45th Street,4,19 days,3,160
187843,99,8/15/2015 0:00,9/4/2015 0:00,5,1995,1935,4,-1,Cassa Hotel 45th Street,4,20 days,4,60
187844,99,8/15/2015 0:00,9/4/2015 0:00,5,2105,1865,4,4,The Jade Hotel,4,20 days,4,240
187845,99,8/15/2015 0:00,8/20/2015 0:00,5,1456,1397,4,8,Hyatt Union Square New York,4,5 days,3,59
187846,99,8/15/2015 0:00,9/2/2015 0:00,5,1705,1648,4,2,Hyatt Union Square New York,4,18 days,2,57
187847,99,8/15/2015 0:00,9/4/2015 0:00,5,1895,1743,4,-1,Hyatt Union Square New York,4,20 days,4,152

In [48]:
#1.d

df["DiscountPerc"] = (df["DiscountDiff"]/df["Original Price"]) * 100
df

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2,138,11.714771
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2,131,11.769991
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3,130,2.974828
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6,72,4.140311
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2,67,3.852789
5,1,7/17/2015 0:00,8/7/2015 0:00,5,1436,1345,1,9,Grand Hyatt New York,4,21 days,4,91,6.337047
6,1,7/17/2015 0:00,8/9/2015 0:00,5,1616,1525,1,5,Grand Hyatt New York,4,23 days,6,91,5.631188
7,1,7/17/2015 0:00,8/12/2015 0:00,5,1256,1183,1,5,Grand Hyatt New York,4,26 days,2,73,5.812102
8,1,7/17/2015 0:00,8/13/2015 0:00,5,1256,1201,1,54,Grand Hyatt New York,4,27 days,3,55,4.378981
9,1,7/17/2015 0:00,7/22/2015 0:00,5,1689,1489,1,-1,Hilton New York Fashion District,4,5 days,2,200,11.841326
10,1,7/17/2015 0:00,7/30/2015 0:00,5,2098,2003,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,13 days,3,95,4.528122
11,1,7/17/2015 0:00,7/31/2015 0:00,5,2120,2026,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,14 days,4,94,4.433962
12,1,7/17/2015 0:00,7/26/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,9 days,6,70,4.204204
13,1,7/17/2015 0:00,8/2/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,16 days,6,70,4.204204
14,1,7/17/2015 0:00,7/22/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,5 days,2,150,3.846154
15,1,7/17/2015 0:00,7/23/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,6 days,3,150,3.846154
16,1,7/17/2015 0:00,7/24/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,7 days,4,150,3.846154
17,1,7/17/2015 0:00,7/25/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,8 days,5,150,3.846154
18,1,7/17/2015 0:00,7/26/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,9 days,6,150,3.846154
19,1,7/17/2015 0:00,7/27/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,10 days,0,150,3.846154
20,1,7/17/2015 0:00,7/28/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,11 days,1,150,3.846154
21,1,7/17/2015 0:00,8/3/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,17 days,0,85,2.258836
22,1,7/17/2015 0:00,8/4/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,18 days,1,85,2.258836
23,1,7/17/2015 0:00,8/5/2015 0:00,5,3763,3378,1,49,Park Hyatt New York,5,19 days,2,385,10.231199
24,1,7/17/2015 0:00,8/6/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,20 days,3,85,2.258836
25,1,7/17/2015 0:00,8/7/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,21 days,4,175,4.650545
26,1,7/17/2015 0:00,8/8/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,22 days,5,175,4.650545
27,1,7/17/2015 0:00,8/9/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,23 days,6,175,4.650545
28,1,7/17/2015 0:00,8/10/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,24 days,0,85,2.258836
29,1,7/17/2015 0:00,8/12/2015 0:00,5,3763,3378,1,39,Park Hyatt New York,5,26 days,2,385,10.231199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187818,99,8/15/2015 0:00,8/17/2015 0:00,5,1311,1229,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,2 days,0,82,6.254767
187819,99,8/15/2015 0:00,8/19/2015 0:00,5,1029,949,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,4 days,2,80,7.774538
187820,99,8/15/2015 0:00,8/30/2015 0:00,5,1006,874,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,15 days,6,132,13.121272
187821,99,8/15/2015 0:00,9/3/2015 0:00,5,1230,1158,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,19 days,3,72,5.853659
187822,99,8/15/2015 0:00,9/2/2015 0:00,5,2133,1984,4,-1,Hampton Inn Manhattan United Nations,3,18 days,2,149,6.985466
187823,99,8/15/2015 0:00,9/4/2015 0:00,5,1922,1246,4,-1,Hampton Inn Manhattan United Nations,3,20 days,4,676,35.171696
187824,99,8/15/2015 0:00,9/17/2015 0:00,5,1607,1363,4,-1,Hampton Inn Manhattan United Nations,3,33 days,3,244,15.183572
187825,99,8/15/2015 0:00,9/18/2015 0:00,5,1859,1606,4,-1,Hampton Inn Manhattan United Nations,3,34 days,4,253,13.609467
187826,99,8/15/2015 0:00,9/17/2015 0:00,5,1210,1158,4,-1,Fairfield Inn & Suites New York Queens Queensb...,3,33 days,3,52,4.297521
187827,99,8/15/2015 0:00,9/9/2015 0:00,5,1665,1548,4,-1,Hampton Inn Madison Square Garden Area Hotel,3,25 days,2,117,7.027027
187828,99,8/15/2015 0:00,8/17/2015 0:00,5,1166,1112,4,-1,Holiday Inn Express New York City Times Square,3,2 days,0,54,4.631218
187829,99,8/15/2015 0:00,8/20/2015 0:00,5,1122,1054,4,1,Martha Washington,4,5 days,3,68,6.060606
187830,99,8/15/2015 0:00,8/25/2015 0:00,5,1238,1098,4,1,Martha Washington,4,10 days,1,140,11.308562
187831,99,8/15/2015 0:00,8/31/2015 0:00,5,1175,1122,4,27,Martha Washington,4,16 days,0,53,4.510638
187832,99,8/15/2015 0:00,9/16/2015 0:00,5,1786,1561,4,3,The Gregory,4,32 days,2,225,12.597984
187833,99,8/15/2015 0:00,9/17/2015 0:00,5,1759,1559,4,3,The Gregory,4,33 days,3,200,11.370097
187834,99,8/15/2015 0:00,8/19/2015 0:00,5,1095,1025,4,-1,DoubleTree by Hilton New York City - Financial...,4,4 days,2,70,6.392694
187835,99,8/15/2015 0:00,8/20/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,5 days,3,130,13.065327
187836,99,8/15/2015 0:00,8/27/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,12 days,3,130,13.065327
187837,99,8/15/2015 0:00,9/7/2015 0:00,5,2215,2061,4,83,NOMO SOHO,5,23 days,0,154,6.952596
187838,99,8/15/2015 0:00,8/25/2015 0:00,5,1322,1268,4,92,W New York,4,10 days,1,54,4.084720
187839,99,8/15/2015 0:00,8/19/2015 0:00,5,1445,1345,4,-1,Cassa Hotel 45th Street,4,4 days,2,100,6.920415
187840,99,8/15/2015 0:00,8/26/2015 0:00,5,1545,1435,4,-1,Cassa Hotel 45th Street,4,11 days,2,110,7.119741
187841,99,8/15/2015 0:00,8/27/2015 0:00,5,1245,1075,4,-1,Cassa Hotel 45th Street,4,12 days,3,170,13.654618
187842,99,8/15/2015 0:00,9/3/2015 0:00,5,1895,1735,4,-1,Cassa Hotel 45th Street,4,19 days,3,160,8.443272
187843,99,8/15/2015 0:00,9/4/2015 0:00,5,1995,1935,4,-1,Cassa Hotel 45th Street,4,20 days,4,60,3.007519
187844,99,8/15/2015 0:00,9/4/2015 0:00,5,2105,1865,4,4,The Jade Hotel,4,20 days,4,240,11.401425
187845,99,8/15/2015 0:00,8/20/2015 0:00,5,1456,1397,4,8,Hyatt Union Square New York,4,5 days,3,59,4.052198
187846,99,8/15/2015 0:00,9/2/2015 0:00,5,1705,1648,4,2,Hyatt Union Square New York,4,18 days,2,57,3.343109
187847,99,8/15/2015 0:00,9/4/2015 0:00,5,1895,1743,4,-1,Hyatt Union Square New York,4,20 days,4,152,8.021108

In [49]:
#Save df to csv
df.to_csv("Hotels_data_Changed.csv")