In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
df = pd.read_csv("hotels_data.csv")

from datetime import datetime
from dateutil.parser import parse

def get_datetime(date_str):
    return datetime.strptime(date_str, '%m/%d/%Y %H:%M')

df["DayDiff"] = DataFrame([get_datetime(val) for val in df["Checkin Date"]]) - DataFrame([get_datetime(val) for val in df["Snapshot Date"]])
df["WeekDay"] = DataFrame([get_datetime(val).weekday() for val in df["Checkin Date"]])
df["DiscountDiff"] = df["Original Price"] - df["Discount Price"]
df["DiscountPerc"] = (df["DiscountDiff"]/df["Original Price"]) * 100

## Top 150 common hotels

In [18]:
df["Hotel_Count"] = df.groupby('Hotel Name')['Hotel Name'].transform('count')
df=df.sort_values(by=['Hotel_Count'],ascending=False)
df
#taking top 150

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc,Hotel_Count,Checkin_Count
65,1,7/17/2015 0:00,7/18/2015 0:00,5,1365,1275,1,-1,Newark Liberty International Airport Marriott,4,1 days,5,90,6.593407,5346,10
38538,233,9/11/2015 0:00,10/12/2015 0:00,5,1177,1007,3,-1,Newark Liberty International Airport Marriott,4,31 days,0,170,14.443500,5346,1132
80985,442,10/8/2015 0:00,10/29/2015 0:00,5,1110,822,3,-1,Newark Liberty International Airport Marriott,4,21 days,3,288,25.945946,5346,1821
96248,463,10/18/2015 0:00,10/29/2015 0:00,5,1194,888,3,-1,Newark Liberty International Airport Marriott,4,11 days,3,306,25.628141,5346,1821
135182,518,11/15/2015 0:00,12/7/2015 0:00,5,1212,1034,3,5,Newark Liberty International Airport Marriott,4,22 days,0,178,14.686469,5346,563
171943,580,12/28/2015 0:00,1/1/2016 0:00,5,1295,1155,1,5,Newark Liberty International Airport Marriott,4,4 days,4,140,10.810811,5346,745
112700,487,10/30/2015 0:00,12/2/2015 0:00,5,1186,1016,3,5,Newark Liberty International Airport Marriott,4,33 days,2,170,14.333895,5346,1090
96257,463,10/18/2015 0:00,11/16/2015 0:00,5,1289,1200,3,-1,Newark Liberty International Airport Marriott,4,29 days,0,89,6.904577,5346,918
173119,582,12/29/2015 0:00,1/1/2016 0:00,5,1305,1015,2,5,Newark Liberty International Airport Marriott,4,3 days,4,290,22.222222,5346,745
60657,409,9/23/2015 0:00,10/12/2015 0:00,5,1100,948,3,-1,Newark Liberty International Airport Marriott,4,19 days,0,152,13.818182,5346,1132
132450,512,11/12/2015 0:00,12/16/2015 0:00,5,1169,846,2,5,Newark Liberty International Airport Marriott,4,34 days,2,323,27.630453,5346,854
172909,582,12/29/2015 0:00,1/25/2016 0:00,5,1153,1016,1,5,Newark Liberty International Airport Marriott,4,27 days,0,137,11.882047,5346,300
166119,568,12/22/2015 0:00,1/25/2016 0:00,5,1153,896,2,5,Newark Liberty International Airport Marriott,4,34 days,0,257,22.289679,5346,300
103322,472,10/23/2015 0:00,10/29/2015 0:00,5,1186,915,3,-1,Newark Liberty International Airport Marriott,4,6 days,3,271,22.849916,5346,1821
173841,585,12/30/2015 0:00,1/25/2016 0:00,5,1153,1016,1,5,Newark Liberty International Airport Marriott,4,26 days,0,137,11.882047,5346,300
132829,512,11/12/2015 0:00,12/7/2015 0:00,5,1212,1034,3,5,Newark Liberty International Airport Marriott,4,25 days,0,178,14.686469,5346,563
33155,217,9/8/2015 0:00,10/12/2015 0:00,5,1177,1075,4,-1,Newark Liberty International Airport Marriott,4,34 days,0,102,8.666100,5346,1132
133995,516,11/14/2015 0:00,12/2/2015 0:00,5,1186,1025,3,5,Newark Liberty International Airport Marriott,4,18 days,2,161,13.575042,5346,1090
134551,518,11/15/2015 0:00,12/16/2015 0:00,5,1169,769,1,5,Newark Liberty International Airport Marriott,4,31 days,2,400,34.217280,5346,854
163913,564,12/20/2015 0:00,12/31/2015 0:00,5,1345,1165,2,5,Newark Liberty International Airport Marriott,4,11 days,3,180,13.382900,5346,1288
175075,587,12/31/2015 0:00,1/25/2016 0:00,5,1153,802,2,5,Newark Liberty International Airport Marriott,4,25 days,0,351,30.442324,5346,300
142017,530,11/21/2015 0:00,12/16/2015 0:00,5,1160,821,2,5,Newark Liberty International Airport Marriott,4,25 days,2,339,29.224138,5346,854
149454,541,11/28/2015 0:00,12/16/2015 0:00,5,1143,1067,4,5,Newark Liberty International Airport Marriott,4,18 days,2,76,6.649169,5346,854
129322,506,11/9/2015 0:00,12/7/2015 0:00,5,1237,1135,4,5,Newark Liberty International Airport Marriott,4,28 days,0,102,8.245756,5346,563
106863,478,10/26/2015 0:00,10/29/2015 0:00,5,1395,1185,2,5,Newark Liberty International Airport Marriott,4,3 days,3,210,15.053763,5346,1821
65713,419,9/27/2015 0:00,10/29/2015 0:00,5,1118,788,4,-1,Newark Liberty International Airport Marriott,4,32 days,3,330,29.516995,5346,1821
75472,436,10/5/2015 0:00,10/29/2015 0:00,5,1152,1095,2,-1,Newark Liberty International Airport Marriott,4,24 days,3,57,4.947917,5346,1821
138154,524,11/18/2015 0:00,12/16/2015 0:00,5,1160,753,1,5,Newark Liberty International Airport Marriott,4,28 days,2,407,35.086207,5346,854
146131,537,11/26/2015 0:00,12/16/2015 0:00,5,1143,813,2,5,Newark Liberty International Airport Marriott,4,20 days,2,330,28.871391,5346,854
79910,441,10/7/2015 0:00,10/12/2015 0:00,5,1254,1178,4,-1,Newark Liberty International Airport Marriott,4,5 days,0,76,6.060606,5346,1132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21913,174,8/30/2015 0:00,9/22/2015 0:00,5,1945,1800,1,3,Orchard Street Hotel,3,23 days,1,145,7.455013,2,689
156968,554,12/15/2015 0:00,1/17/2016 0:00,5,608,532,1,2,Pointe Plaza Hotel,3,33 days,6,76,12.500000,2,391
68024,425,9/30/2015 0:00,10/16/2015 0:00,5,952,885,3,1,Vacation Rental in New York,3,16 days,4,67,7.037815,2,1407
24173,182,8/31/2015 0:00,9/13/2015 0:00,5,750,550,1,3,AnYi Guesthouse Flushing,3,13 days,6,200,26.666667,2,745
58167,403,9/20/2015 0:00,9/25/2015 0:00,5,999,913,2,1,Red Roof Inn Queens,3,5 days,4,86,8.608609,2,646
56966,400,9/19/2015 0:00,9/25/2015 0:00,5,999,913,2,1,Red Roof Inn Queens,3,6 days,4,86,8.608609,2,646
19032,160,8/27/2015 0:00,8/31/2015 0:00,5,975,873,3,8,Chelsea Savoy Hotel,2,4 days,0,102,10.461538,2,937
43890,267,9/15/2015 0:00,9/18/2015 0:00,5,780,735,3,8,La Quinta Inn and Suites JFK Airport,3,3 days,4,45,5.769231,2,1433
70467,431,10/2/2015 0:00,10/5/2015 0:00,5,714,590,2,1,AnYi Guesthouse Flushing,3,3 days,0,124,17.366947,2,563
157866,554,12/15/2015 0:00,12/23/2015 0:00,5,1561,1419,4,1,The Manhattan Club,4,8 days,2,142,9.096733,2,1057
175447,587,12/31/2015 0:00,1/1/2016 0:00,5,675,635,3,3,Fairfield Inn & Suites Newark Liberty Internat...,3,1 days,4,40,5.925926,2,745
129228,506,11/9/2015 0:00,12/2/2015 0:00,5,1041,914,3,2,Hotel Luxe,2,23 days,2,127,12.199808,2,1090
50181,31,7/30/2015 0:00,8/9/2015 0:00,5,1275,1217,4,2,Fitzpatrick Manhattan Hotel,4,10 days,6,58,4.549020,2,793
73268,435,10/4/2015 0:00,11/3/2015 0:00,5,804,706,1,4,Pointe Plaza Hotel,3,30 days,1,98,12.189055,2,1599
69344,428,10/1/2015 0:00,10/16/2015 0:00,5,2036,1917,3,1,The Nolitan,4,15 days,4,119,5.844794,2,1407
99609,466,10/20/2015 0:00,10/28/2015 0:00,5,1420,1325,4,1,Flatiron Hotel,4,8 days,2,95,6.690141,2,2087
68932,428,10/1/2015 0:00,10/31/2015 0:00,5,1696,1601,2,4,The Court - A St Giles Premier Hotel,4,30 days,5,95,5.601415,2,1318
169533,575,12/25/2015 0:00,12/27/2015 0:00,5,338,318,3,3,Riviera Hotel,2,2 days,6,20,5.917160,1,868
37276,23,7/26/2015 0:00,8/11/2015 0:00,5,735,675,2,-1,Union Hotel an Ascend Hotel Collection Member,3,16 days,1,60,8.163265,1,939
182228,80,8/11/2015 0:00,9/11/2015 0:00,5,3349,3286,4,1,Best Western Plus Hospitality House,3,31 days,4,63,1.881159,1,1420
173627,582,12/29/2015 0:00,1/29/2016 0:00,5,583,543,3,1,Super Family Flat in Little Italy,3,31 days,4,40,6.861063,1,214
141870,530,11/21/2015 0:00,11/26/2015 0:00,5,1547,1487,1,2,Ramada Flushing Queens,2,5 days,3,60,3.878474,1,1440
49756,31,7/30/2015 0:00,8/13/2015 0:00,5,1595,1495,2,1,Chelsea Pines Inn,3,14 days,3,100,6.269592,1,1307
125517,503,11/7/2015 0:00,11/15/2015 0:00,5,1355,1291,1,1,Duane Street Hotel Tribeca,4,8 days,6,64,4.723247,1,943
37590,23,7/26/2015 0:00,8/16/2015 0:00,5,845,795,3,8,Hotel Le Jolie,3,21 days,6,50,5.917160,1,666
131415,511,11/11/2015 0:00,11/26/2015 0:00,5,1475,1160,2,5,Fairfield Inn New York Midtown Manhattan Penn ...,3,15 days,3,315,21.355932,1,1440
58562,403,9/20/2015 0:00,9/29/2015 0:00,5,924,823,3,40,Best Western Plus LaGuardia Airport Hotel Queens,3,9 days,1,101,10.930736,1,871
43492,267,9/15/2015 0:00,9/17/2015 0:00,5,1271,1206,1,2,Americana Inn,2,2 days,3,65,5.114083,1,1530
186463,94,8/14/2015 0:00,9/12/2015 0:00,5,1509,1456,3,-1,Econo Lodge Times Square,3,29 days,5,53,3.512260,1,793
128448,506,11/9/2015 0:00,11/27/2015 0:00,5,689,639,2,12,Extended Stay America New York City - LaGuardi...,2,18 days,4,50,7.256894,1,1425

In [ ]:
count=0
df_new = pd.DataFrame()
old_row = df.iloc[[0]]
current_index =0
for index, row in df.iterrows(): 
    if row['Hotel Name'] != old_row['Hotel Name'].values:
        count=count+1
    old_row = df.iloc[[index]]
    if count>150:
        break;
    current_index = index
current_index
 
df = df.iloc[0:current_index]
df

In [ ]:

my_list =[]
for name, group in itertools.islice(groups , 0, 149):
    my_list.append(group)

## Top 40 checkins contain most lists

In [8]:
df["Checkin_Count"] = df.groupby('Checkin Date')['Checkin Date'].transform('count')
df=df.sort_values(by=['Checkin_Count'],ascending=False)


##taking top 40

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc,Hotel_Count,Checkin_Count
126042,503,11/7/2015 0:00,11/11/2015 0:00,5,2655,2515,3,-1,The Towers of the Waldorf Astoria New York,5,4 days,2,140,5.273070,1555,2403
97266,464,10/19/2015 0:00,11/11/2015 0:00,5,1211,965,2,-1,Newark Liberty International Airport Marriott,4,23 days,2,246,20.313790,5346,2403
129079,506,11/9/2015 0:00,11/11/2015 0:00,5,1096,1029,3,-1,Comfort Inn Times Square South Area,3,2 days,2,67,6.113139,553,2403
130140,508,11/10/2015 0:00,11/11/2015 0:00,5,1347,1128,2,-1,Hotel Indigo NYC Chelsea,4,1 days,2,219,16.258352,75,2403
130455,508,11/10/2015 0:00,11/11/2015 0:00,5,1077,1012,3,-1,Comfort Inn Times Square South Area,3,1 days,2,65,6.035283,553,2403
118382,494,11/3/2015 0:00,11/11/2015 0:00,5,1082,1020,3,-1,Comfort Inn Times Square South Area,3,8 days,2,62,5.730129,553,2403
126335,503,11/7/2015 0:00,11/11/2015 0:00,5,1094,976,3,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,4 days,2,118,10.786106,1290,2403
82610,444,10/9/2015 0:00,11/11/2015 0:00,5,1363,1273,3,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,33 days,2,90,6.603081,1290,2403
129999,508,11/10/2015 0:00,11/11/2015 0:00,5,1077,1023,2,-1,Comfort Inn Times Square South Area,3,1 days,2,54,5.013928,553,2403
82862,444,10/9/2015 0:00,11/11/2015 0:00,5,1363,1291,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,33 days,2,72,5.282465,1290,2403
127312,504,11/8/2015 0:00,11/11/2015 0:00,5,1485,1259,2,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,3 days,2,226,15.218855,1290,2403
128613,506,11/9/2015 0:00,11/11/2015 0:00,5,1096,1040,2,-1,Comfort Inn Times Square South Area,3,2 days,2,56,5.109489,553,2403
84837,448,10/11/2015 0:00,11/11/2015 0:00,5,1676,1549,2,33,Gild Hall A Thompson Hotel,5,31 days,2,127,7.577566,1282,2403
94235,461,10/17/2015 0:00,11/11/2015 0:00,5,4938,4753,2,58,Park Hyatt New York,5,25 days,2,185,3.746456,2226,2403
119787,496,11/4/2015 0:00,11/11/2015 0:00,5,1054,994,3,-1,Comfort Inn Times Square South Area,3,7 days,2,60,5.692600,553,2403
95230,461,10/17/2015 0:00,11/11/2015 0:00,5,1451,1341,4,-1,Hilton Garden Inn Times Square,4,25 days,2,110,7.580979,4892,2403
108436,481,10/27/2015 0:00,11/11/2015 0:00,5,690,604,2,-1,Quality Inn Woodside,2,15 days,2,86,12.463768,2140,2403
116096,492,11/2/2015 0:00,11/11/2015 0:00,5,3308,2923,1,-1,Langham Place New York Fifth Avenue,5,9 days,2,385,11.638452,3203,2403
99772,468,10/21/2015 0:00,11/11/2015 0:00,5,2396,2276,1,41,Loews Regency New York Hotel,5,21 days,2,120,5.008347,3617,2403
127200,504,11/8/2015 0:00,11/11/2015 0:00,5,1096,1040,2,-1,Comfort Inn Times Square South Area,3,3 days,2,56,5.109489,553,2403
96789,463,10/18/2015 0:00,11/11/2015 0:00,5,1363,1291,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,24 days,2,72,5.282465,1290,2403
84240,446,10/10/2015 0:00,11/11/2015 0:00,5,1363,1291,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,32 days,2,72,5.282465,1290,2403
101220,471,10/22/2015 0:00,11/11/2015 0:00,5,2396,2276,1,31,Loews Regency New York Hotel,5,20 days,2,120,5.008347,3617,2403
128058,504,11/8/2015 0:00,11/11/2015 0:00,5,1485,1401,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,3 days,2,84,5.656566,1290,2403
94250,461,10/17/2015 0:00,11/11/2015 0:00,5,2387,2260,2,56,W New York - Union Square,5,25 days,2,127,5.320486,2025,2403
115700,491,11/1/2015 0:00,11/11/2015 0:00,5,3825,3690,4,3,The Carlyle A Rosewood Hotel,5,10 days,2,135,3.529412,3078,2403
111046,485,10/29/2015 0:00,11/11/2015 0:00,5,1235,1163,2,10,Gild Hall A Thompson Hotel,5,13 days,2,72,5.829960,1282,2403
90325,457,10/15/2015 0:00,11/11/2015 0:00,5,1676,1549,2,27,Gild Hall A Thompson Hotel,5,27 days,2,127,7.577566,1282,2403
98078,464,10/19/2015 0:00,11/11/2015 0:00,5,3938,3878,4,10,The Plaza Hotel,5,23 days,2,60,1.523616,2149,2403
101746,471,10/22/2015 0:00,11/11/2015 0:00,5,1441,1381,2,13,Gild Hall A Thompson Hotel,5,20 days,2,60,4.163775,1282,2403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47420,3,7/18/2015 0:00,7/20/2015 0:00,5,1355,1265,4,-1,Newark Liberty International Airport Marriott,4,2 days,0,90,6.642066,5346,25
671,1,7/17/2015 0:00,7/20/2015 0:00,5,1245,1155,3,-1,Hampton Inn JFK Airport,3,3 days,0,90,7.228916,382,25
354,1,7/17/2015 0:00,7/20/2015 0:00,5,1245,1185,2,-1,Hampton Inn JFK Airport,3,3 days,0,60,4.819277,382,25
47419,3,7/18/2015 0:00,7/20/2015 0:00,5,1355,1225,3,-1,Newark Liberty International Airport Marriott,4,2 days,0,130,9.594096,5346,25
122267,5,7/19/2015 0:00,7/20/2015 0:00,5,637,600,1,5,Ramada Staten Island,3,1 days,0,37,5.808477,90,25
401,1,7/17/2015 0:00,7/19/2015 0:00,5,3235,2925,2,-1,Hilton Times Square,4,2 days,6,310,9.582689,2273,15
576,1,7/17/2015 0:00,7/19/2015 0:00,5,3700,3600,3,6,Park Hyatt New York,5,2 days,6,100,2.702703,2226,15
88,1,7/17/2015 0:00,7/19/2015 0:00,5,1245,1155,1,-1,Hampton Inn JFK Airport,3,2 days,6,90,7.228916,382,15
47228,3,7/18/2015 0:00,7/19/2015 0:00,5,3700,3600,3,6,Park Hyatt New York,5,1 days,6,100,2.702703,2226,15
941,1,7/17/2015 0:00,7/19/2015 0:00,5,1706,1313,4,-1,Hilton New York JFK Airport,4,2 days,6,393,23.036342,194,15
353,1,7/17/2015 0:00,7/19/2015 0:00,5,1245,1185,2,-1,Hampton Inn JFK Airport,3,2 days,6,60,4.819277,382,15
355,1,7/17/2015 0:00,7/19/2015 0:00,5,1706,1549,2,-1,Hilton New York JFK Airport,4,2 days,6,157,9.202814,194,15
85,1,7/17/2015 0:00,7/19/2015 0:00,5,1395,1305,1,-1,Home2 Suites by Hilton NY Long Island City Man...,3,2 days,6,90,6.451613,810,15
939,1,7/17/2015 0:00,7/19/2015 0:00,5,1245,1125,4,-1,Hampton Inn JFK Airport,3,2 days,6,120,9.638554,382,15
670,1,7/17/2015 0:00,7/19/2015 0:00,5,1245,1155,3,-1,Hampton Inn JFK Airport,3,2 days,6,90,7.228916,382,15
47227,3,7/18/2015 0:00,7/19/2015 0:00,5,3700,3600,2,6,Park Hyatt New York,5,1 days,6,100,2.702703,2226,15
674,1,7/17/2015 0:00,7/19/2015 0:00,5,1706,1398,3,-1,Hilton New York JFK Airport,4,2 days,6,308,18.053927,194,15
47503,3,7/18/2015 0:00,7/19/2015 0:00,5,850,799,3,16,Best Western Bayside Inn,3,1 days,6,51,6.000000,421,15
46977,3,7/18/2015 0:00,7/19/2015 0:00,5,3345,3215,1,-1,Hilton Times Square,4,1 days,6,130,3.886398,2273,15
936,1,7/17/2015 0:00,7/19/2015 0:00,5,1395,1335,4,-1,Home2 Suites by Hilton NY Long Island City Man...,3,2 days,6,60,4.301075,810,15
94,1,7/17/2015 0:00,7/18/2015 0:00,5,780,630,1,2,Ramada Staten Island,3,1 days,5,150,19.230769,90,10
359,1,7/17/2015 0:00,7/18/2015 0:00,5,780,667,2,2,Ramada Staten Island,3,1 days,5,113,14.487179,90,10
365,1,7/17/2015 0:00,7/18/2015 0:00,5,548,515,2,-1,Howard Johnson Inn Queens,2,1 days,5,33,6.021898,14,10
678,1,7/17/2015 0:00,7/18/2015 0:00,5,780,705,3,2,Ramada Staten Island,3,1 days,5,75,9.615385,90,10
329,1,7/17/2015 0:00,7/18/2015 0:00,5,1365,1185,2,-1,Newark Liberty International Airport Marriott,4,1 days,5,180,13.186813,5346,10
575,1,7/17/2015 0:00,7/18/2015 0:00,5,3700,3600,3,6,Park Hyatt New York,5,1 days,5,100,2.702703,2226,10
357,1,7/17/2015 0:00,7/18/2015 0:00,5,1255,1055,2,-1,Renaissance Newark Airport Hotel,4,1 days,5,200,15.936255,1951,10
349,1,7/17/2015 0:00,7/18/2015 0:00,5,1395,1245,2,-1,Home2 Suites by Hilton NY Long Island City Man...,3,1 days,5,150,10.752688,810,10
262,1,7/17/2015 0:00,7/18/2015 0:00,5,3700,3600,2,6,Park Hyatt New York,5,1 days,5,100,2.702703,2226,10
65,1,7/17/2015 0:00,7/18/2015 0:00,5,1365,1275,1,-1,Newark Liberty International Airport Marriott,4,1 days,5,90,6.593407,5346,10

## Checkin - Hotel - Discount Code

In [37]:
grouped = df1.groupby(['Checkin Date','Hotel Name','Discount Code'])["Discount Price"].min()
#need to add auto complete discount code

## normalization of data

In [49]:
#grouped.transform(lambda x: (x /max(x)  * 100)) #normalization per group per table
grouped.first()

TypeError: first() missing 1 required positional argument: 'offset'