In [50]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
df = pd.read_csv("hotels_data.csv")

from datetime import datetime
from dateutil.parser import parse

#parsing string to date time format
def get_datetime(date_str):
    return datetime.strptime(date_str, '%m/%d/%Y %H:%M')

df["DayDiff"] = DataFrame([get_datetime(val) for val in df["Checkin Date"]]) - DataFrame([get_datetime(val) for val in df["Snapshot Date"]])
df["WeekDay"] = DataFrame([get_datetime(val).weekday() for val in df["Checkin Date"]])
df["DiscountDiff"] = df["Original Price"] - df["Discount Price"]
df["DiscountPerc"] = (df["DiscountDiff"]/df["Original Price"]) * 100

df

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2,138,11.714771
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2,131,11.769991
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3,130,2.974828
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6,72,4.140311
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2,67,3.852789
5,1,7/17/2015 0:00,8/7/2015 0:00,5,1436,1345,1,9,Grand Hyatt New York,4,21 days,4,91,6.337047
6,1,7/17/2015 0:00,8/9/2015 0:00,5,1616,1525,1,5,Grand Hyatt New York,4,23 days,6,91,5.631188
7,1,7/17/2015 0:00,8/12/2015 0:00,5,1256,1183,1,5,Grand Hyatt New York,4,26 days,2,73,5.812102
8,1,7/17/2015 0:00,8/13/2015 0:00,5,1256,1201,1,54,Grand Hyatt New York,4,27 days,3,55,4.378981
9,1,7/17/2015 0:00,7/22/2015 0:00,5,1689,1489,1,-1,Hilton New York Fashion District,4,5 days,2,200,11.841326
10,1,7/17/2015 0:00,7/30/2015 0:00,5,2098,2003,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,13 days,3,95,4.528122
11,1,7/17/2015 0:00,7/31/2015 0:00,5,2120,2026,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,14 days,4,94,4.433962
12,1,7/17/2015 0:00,7/26/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,9 days,6,70,4.204204
13,1,7/17/2015 0:00,8/2/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,16 days,6,70,4.204204
14,1,7/17/2015 0:00,7/22/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,5 days,2,150,3.846154
15,1,7/17/2015 0:00,7/23/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,6 days,3,150,3.846154
16,1,7/17/2015 0:00,7/24/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,7 days,4,150,3.846154
17,1,7/17/2015 0:00,7/25/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,8 days,5,150,3.846154
18,1,7/17/2015 0:00,7/26/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,9 days,6,150,3.846154
19,1,7/17/2015 0:00,7/27/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,10 days,0,150,3.846154
20,1,7/17/2015 0:00,7/28/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,11 days,1,150,3.846154
21,1,7/17/2015 0:00,8/3/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,17 days,0,85,2.258836
22,1,7/17/2015 0:00,8/4/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,18 days,1,85,2.258836
23,1,7/17/2015 0:00,8/5/2015 0:00,5,3763,3378,1,49,Park Hyatt New York,5,19 days,2,385,10.231199
24,1,7/17/2015 0:00,8/6/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,20 days,3,85,2.258836
25,1,7/17/2015 0:00,8/7/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,21 days,4,175,4.650545
26,1,7/17/2015 0:00,8/8/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,22 days,5,175,4.650545
27,1,7/17/2015 0:00,8/9/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,23 days,6,175,4.650545
28,1,7/17/2015 0:00,8/10/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,24 days,0,85,2.258836
29,1,7/17/2015 0:00,8/12/2015 0:00,5,3763,3378,1,39,Park Hyatt New York,5,26 days,2,385,10.231199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187818,99,8/15/2015 0:00,8/17/2015 0:00,5,1311,1229,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,2 days,0,82,6.254767
187819,99,8/15/2015 0:00,8/19/2015 0:00,5,1029,949,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,4 days,2,80,7.774538
187820,99,8/15/2015 0:00,8/30/2015 0:00,5,1006,874,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,15 days,6,132,13.121272
187821,99,8/15/2015 0:00,9/3/2015 0:00,5,1230,1158,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,19 days,3,72,5.853659
187822,99,8/15/2015 0:00,9/2/2015 0:00,5,2133,1984,4,-1,Hampton Inn Manhattan United Nations,3,18 days,2,149,6.985466
187823,99,8/15/2015 0:00,9/4/2015 0:00,5,1922,1246,4,-1,Hampton Inn Manhattan United Nations,3,20 days,4,676,35.171696
187824,99,8/15/2015 0:00,9/17/2015 0:00,5,1607,1363,4,-1,Hampton Inn Manhattan United Nations,3,33 days,3,244,15.183572
187825,99,8/15/2015 0:00,9/18/2015 0:00,5,1859,1606,4,-1,Hampton Inn Manhattan United Nations,3,34 days,4,253,13.609467
187826,99,8/15/2015 0:00,9/17/2015 0:00,5,1210,1158,4,-1,Fairfield Inn & Suites New York Queens Queensb...,3,33 days,3,52,4.297521
187827,99,8/15/2015 0:00,9/9/2015 0:00,5,1665,1548,4,-1,Hampton Inn Madison Square Garden Area Hotel,3,25 days,2,117,7.027027
187828,99,8/15/2015 0:00,8/17/2015 0:00,5,1166,1112,4,-1,Holiday Inn Express New York City Times Square,3,2 days,0,54,4.631218
187829,99,8/15/2015 0:00,8/20/2015 0:00,5,1122,1054,4,1,Martha Washington,4,5 days,3,68,6.060606
187830,99,8/15/2015 0:00,8/25/2015 0:00,5,1238,1098,4,1,Martha Washington,4,10 days,1,140,11.308562
187831,99,8/15/2015 0:00,8/31/2015 0:00,5,1175,1122,4,27,Martha Washington,4,16 days,0,53,4.510638
187832,99,8/15/2015 0:00,9/16/2015 0:00,5,1786,1561,4,3,The Gregory,4,32 days,2,225,12.597984
187833,99,8/15/2015 0:00,9/17/2015 0:00,5,1759,1559,4,3,The Gregory,4,33 days,3,200,11.370097
187834,99,8/15/2015 0:00,8/19/2015 0:00,5,1095,1025,4,-1,DoubleTree by Hilton New York City - Financial...,4,4 days,2,70,6.392694
187835,99,8/15/2015 0:00,8/20/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,5 days,3,130,13.065327
187836,99,8/15/2015 0:00,8/27/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,12 days,3,130,13.065327
187837,99,8/15/2015 0:00,9/7/2015 0:00,5,2215,2061,4,83,NOMO SOHO,5,23 days,0,154,6.952596
187838,99,8/15/2015 0:00,8/25/2015 0:00,5,1322,1268,4,92,W New York,4,10 days,1,54,4.084720
187839,99,8/15/2015 0:00,8/19/2015 0:00,5,1445,1345,4,-1,Cassa Hotel 45th Street,4,4 days,2,100,6.920415
187840,99,8/15/2015 0:00,8/26/2015 0:00,5,1545,1435,4,-1,Cassa Hotel 45th Street,4,11 days,2,110,7.119741
187841,99,8/15/2015 0:00,8/27/2015 0:00,5,1245,1075,4,-1,Cassa Hotel 45th Street,4,12 days,3,170,13.654618
187842,99,8/15/2015 0:00,9/3/2015 0:00,5,1895,1735,4,-1,Cassa Hotel 45th Street,4,19 days,3,160,8.443272
187843,99,8/15/2015 0:00,9/4/2015 0:00,5,1995,1935,4,-1,Cassa Hotel 45th Street,4,20 days,4,60,3.007519
187844,99,8/15/2015 0:00,9/4/2015 0:00,5,2105,1865,4,4,The Jade Hotel,4,20 days,4,240,11.401425
187845,99,8/15/2015 0:00,8/20/2015 0:00,5,1456,1397,4,8,Hyatt Union Square New York,4,5 days,3,59,4.052198
187846,99,8/15/2015 0:00,9/2/2015 0:00,5,1705,1648,4,2,Hyatt Union Square New York,4,18 days,2,57,3.343109
187847,99,8/15/2015 0:00,9/4/2015 0:00,5,1895,1743,4,-1,Hyatt Union Square New York,4,20 days,4,152,8.021108

## Top 150 common hotels

In [51]:
#counting and sorting by common hotel name
df["Hotel_Count"] = df.groupby('Hotel Name')['Hotel Name'].transform('count')
df=df.sort_values(by=['Hotel_Count'],ascending=False).reset_index()

#getting first 150 hotels  
df_hotels = df["Hotel Name"].unique()[:150]
most_common_hotels = df[df['Hotel Name'].isin(df_hotels)]

## Top 40 checkins contain most lists

In [52]:


#counting and sorting by common checking_data
most_common_hotels["Checkin_Count"] = most_common_hotels.groupby('Checkin Date')['Checkin Date'].transform('count')
most_common_hotels = most_common_hotels.sort_values(by=['Checkin_Count'],ascending=False).reset_index()

#getting first 40 checkins  
common_checkins_list = most_common_hotels["Checkin Date"].unique()[:40]
most_checkins = most_common_hotels[most_common_hotels['Checkin Date'].isin(common_checkins_list)]

most_checkins.count()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,level_0,index,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc,Hotel_Count,Checkin_Count
Hotel Name,,,,,,,,,,,,,,,,,
Aloft Harlem,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42
Andaz 5th Avenue - a concept by Hyatt,397,397,397,397,397,397,397,397,397,397,397,397,397,397,397,397,397
Andaz Wall Street - a concept by Hyatt,420,420,420,420,420,420,420,420,420,420,420,420,420,420,420,420,420
Baccarat Hotel and Residences New York,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Bentley Hotel,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48
Best Western Bayside Inn,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102
Best Western Bowery Hanbee Hotel,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80
Best Western Plus Arena Hotel,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74
Best Western Plus Newark Airport West,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113,113
Blakely New York,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72
Cassa Hotel 45th Street,890,890,890,890,890,890,890,890,890,890,890,890,890,890,890,890,890
Chelsea Inn,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47
Comfort Inn Times Square South Area,148,148,148,148,148,148,148,148,148,148,148,148,148,148,148,148,148
Conrad New York,899,899,899,899,899,899,899,899,899,899,899,899,899,899,899,899,899
Courtyard New York Manhattan Times Square West,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35
Courtyard Newark Elizabeth,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81
Courtyard by Marriott New York City Manhattan Fifth Avenue,131,131,131,131,131,131,131,131,131,131,131,131,131,131,131,131,131
Courtyard by Marriott New York Manhattan Central Park,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68
Courtyard by Marriott New York Manhattan SoHo,238,238,238,238,238,238,238,238,238,238,238,238,238,238,238,238,238
Courtyard by Marriott New York Manhattan Times Square,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260
Courtyard by Marriott New York Manhattan Upper East Side,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94
Crowne Plaza Times Square Manhattan,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
Days Inn Bronx Near Stadium,55,55,55,55,55,55,55,55,55,55,55,55,55,55,55,55,55
DoubleTree Suites by Hilton New York City - Times Square,243,243,243,243,243,243,243,243,243,243,243,243,243,243,243,243,243
DoubleTree by Hilton Hotel New York - Times Square South,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228
DoubleTree by Hilton Hotel Newark Airport,875,875,875,875,875,875,875,875,875,875,875,875,875,875,875,875,875
DoubleTree by Hilton Metropolitan - New York City,1021,1021,1021,1021,1021,1021,1021,1021,1021,1021,1021,1021,1021,1021,1021,1021,1021
DoubleTree by Hilton New York City - Chelsea,494,494,494,494,494,494,494,494,494,494,494,494,494,494,494,494,494
DoubleTree by Hilton New York City - Financial District,713,713,713,713,713,713,713,713,713,713,713,713,713,713,713,713,713
Dumont NYC-an Affinia hotel,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Mark,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57
The Muse Hotel a Kimpton Hotel,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115
The New York EDITION,804,804,804,804,804,804,804,804,804,804,804,804,804,804,804,804,804
The Out NYC,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72
The Pearl New York,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
The Peninsula New York,456,456,456,456,456,456,456,456,456,456,456,456,456,456,456,456,456
The Plaza Hotel,879,879,879,879,879,879,879,879,879,879,879,879,879,879,879,879,879
The Premier Hotel New York,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151
The Roger,125,125,125,125,125,125,125,125,125,125,125,125,125,125,125,125,125
The Roosevelt Hotel New York City,850,850,850,850,850,850,850,850,850,850,850,850,850,850,850,850,850
The Shoreham Hotel,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68
The St. Regis New York,90,90,90,90,90,90,90,90,90,90,90,90,90,90,90,90,90
The Standard East Village,226,226,226,226,226,226,226,226,226,226,226,226,226,226,226,226,226
The SunBright,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88
The Towers of the Waldorf Astoria New York,653,653,653,653,653,653,653,653,653,653,653,653,653,653,653,653,653
The Westin New York Grand Central,383,383,383,383,383,383,383,383,383,383,383,383,383,383,383,383,383
United Nations Apartment Hotel,233,233,233,233,233,233,233,233,233,233,233,233,233,233,233,233,233
Viceroy New York,1235,1235,1235,1235,1235,1235,1235,1235,1235,1235,1235,1235,1235,1235,1235,1235,1235
W New York,394,394,394,394,394,394,394,394,394,394,394,394,394,394,394,394,394
W New York - Downtown,96,96,96,96,96,96,96,96,96,96,96,96,96,96,96,96,96
W New York - Union Square,894,894,894,894,894,894,894,894,894,894,894,894,894,894,894,894,894
W New York Times Square,721,721,721,721,721,721,721,721,721,721,721,721,721,721,721,721,721
Waldorf Astoria New York,482,482,482,482,482,482,482,482,482,482,482,482,482,482,482,482,482
Westin New York at Times Square,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739
Wyndham Garden - Manhattan Chelsea West,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86
Wyndham Garden Brooklyn Sunset Park,775,775,775,775,775,775,775,775,775,775,775,775,775,775,775,775,775
Wyndham Garden Chinatown,121,121,121,121,121,121,121,121,121,121,121,121,121,121,121,121,121
Wyndham Garden Long Island City Manhattan View,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86,86
Wyndham New Yorker,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30
ink48 hotel a Kimpton Hotel,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85,85

## Checkin - Hotel - Discount Code

In [53]:
unique_hotels_names = most_checkins["Hotel Name"].unique()
unique_checkins =  most_checkins["Checkin Date"].unique()
unique_discount_code =  [1,2,3,4]

#creating default data - all combination : checking -hotel - discount code
import itertools
import sys
combs = []
for x in unique_hotels_names:
    for y in unique_checkins:
        for z in unique_discount_code:
            combs.append([x, y,z,sys.maxsize])

#converting the default data to data frame and appending to exist
new_df =  DataFrame.from_records(combs,columns=["Hotel Name","Checkin Date","Discount Code","Discount Price"])
most_checkins = most_checkins.append(new_df)

#finding minimum  discount price outa  hotel name - checking date - discount code group and fixing data
most_checkins["Discount Price"]= most_checkins.groupby(['Hotel Name','Checkin Date','Discount Code'])["Discount Price"].transform('min')
most_checkins.drop_duplicates(subset=["Hotel Name","Checkin Date","Discount Code"], inplace=True)
most_checkins.sort_values(by=["Hotel Name","Checkin Date","Discount Code"],ascending=True,inplace=True)
most_checkins['Discount Price'].replace(sys.maxsize, -1, inplace=True)

#taking only needed data
checkin_hotel_discount = most_checkins[["Hotel Name","Checkin Date","Discount Code","Discount Price"]].reset_index()
checkin_hotel_discount

,index,Hotel Name,Checkin Date,Discount Code,Discount Price
0,16740,Aloft Harlem,10/1/2015 0:00,1,-1
1,16741,Aloft Harlem,10/1/2015 0:00,2,-1
2,16742,Aloft Harlem,10/1/2015 0:00,3,-1
3,16743,Aloft Harlem,10/1/2015 0:00,4,-1
4,3600,Aloft Harlem,10/14/2015 0:00,1,1381
5,16645,Aloft Harlem,10/14/2015 0:00,2,-1
6,4129,Aloft Harlem,10/14/2015 0:00,3,1164
7,16647,Aloft Harlem,10/14/2015 0:00,4,-1
8,16712,Aloft Harlem,10/15/2015 0:00,1,-1
9,16713,Aloft Harlem,10/15/2015 0:00,2,-1
10,16714,Aloft Harlem,10/15/2015 0:00,3,-1
11,16715,Aloft Harlem,10/15/2015 0:00,4,-1
12,16756,Aloft Harlem,10/16/2015 0:00,1,-1
13,16757,Aloft Harlem,10/16/2015 0:00,2,-1
14,47613,Aloft Harlem,10/16/2015 0:00,3,1240
15,16759,Aloft Harlem,10/16/2015 0:00,4,-1
16,16764,Aloft Harlem,10/2/2015 0:00,1,-1
17,50105,Aloft Harlem,10/2/2015 0:00,2,1272
18,50103,Aloft Harlem,10/2/2015 0:00,3,1326
19,50556,Aloft Harlem,10/2/2015 0:00,4,1381
20,10208,Aloft Harlem,10/21/2015 0:00,1,1175
21,16661,Aloft Harlem,10/21/2015 0:00,2,-1
22,10088,Aloft Harlem,10/21/2015 0:00,3,1249
23,16663,Aloft Harlem,10/21/2015 0:00,4,-1
24,16676,Aloft Harlem,10/22/2015 0:00,1,-1
25,16677,Aloft Harlem,10/22/2015 0:00,2,-1
26,17512,Aloft Harlem,10/22/2015 0:00,3,1225
27,16679,Aloft Harlem,10/22/2015 0:00,4,-1
28,16784,Aloft Harlem,10/27/2015 0:00,1,-1
29,56125,Aloft Harlem,10/27/2015 0:00,2,1220
...,...,...,...,...,...
23810,53627,ink48 hotel a Kimpton Hotel,8/28/2015 0:00,3,1058
23811,53813,ink48 hotel a Kimpton Hotel,8/28/2015 0:00,4,1084
23812,4364,ink48 hotel a Kimpton Hotel,9/10/2015 0:00,1,-1
23813,4365,ink48 hotel a Kimpton Hotel,9/10/2015 0:00,2,-1
23814,4366,ink48 hotel a Kimpton Hotel,9/10/2015 0:00,3,-1
23815,4367,ink48 hotel a Kimpton Hotel,9/10/2015 0:00,4,-1
23816,4428,ink48 hotel a Kimpton Hotel,9/11/2015 0:00,1,-1
23817,4429,ink48 hotel a Kimpton Hotel,9/11/2015 0:00,2,-1
23818,4430,ink48 hotel a Kimpton Hotel,9/11/2015 0:00,3,-1
23819,4431,ink48 hotel a Kimpton Hotel,9/11/2015 0:00,4,-1
23820,4408,ink48 hotel a Kimpton Hotel,9/16/2015 0:00,1,-1
23821,4409,ink48 hotel a Kimpton Hotel,9/16/2015 0:00,2,-1
23822,4410,ink48 hotel a Kimpton Hotel,9/16/2015 0:00,3,-1
23823,4411,ink48 hotel a Kimpton Hotel,9/16/2015 0:00,4,-1
23824,4412,ink48 hotel a Kimpton Hotel,9/17/2015 0:00,1,-1
23825,4413,ink48 hotel a Kimpton Hotel,9/17/2015 0:00,2,-1
23826,4414,ink48 hotel a Kimpton Hotel,9/17/2015 0:00,3,-1
23827,4415,ink48 hotel a Kimpton Hotel,9/17/2015 0:00,4,-1
23828,4432,ink48 hotel a Kimpton Hotel,9/18/2015 0:00,1,-1
23829,4433,ink48 hotel a Kimpton Hotel,9/18/2015 0:00,2,-1
23830,4434,ink48 hotel a Kimpton Hotel,9/18/2015 0:00,3,-1
23831,4435,ink48 hotel a Kimpton Hotel,9/18/2015 0:00,4,-1
23832,4400,ink48 hotel a Kimpton Hotel,9/30/2015 0:00,1,-1
23833,4401,ink48 hotel a Kimpton Hotel,9/30/2015 0:00,2,-1
23834,4402,ink48 hotel a Kimpton Hotel,9/30/2015 0:00,3,-1
23835,4403,ink48 hotel a Kimpton Hotel,9/30/2015 0:00,4,-1
23836,4372,ink48 hotel a Kimpton Hotel,9/9/2015 0:00,1,-1
23837,4373,ink48 hotel a Kimpton Hotel,9/9/2015 0:00,2,-1
23838,4374,ink48 hotel a Kimpton Hotel,9/9/2015 0:00,3,-1
23839,4375,ink48 hotel a Kimpton Hotel,9/9/2015 0:00,4,-1

## Normalization of data

In [54]:
#normalizing only positive numbers, ignoring -1 values
discount_filtered = checkin_hotel_discount[checkin_hotel_discount['Discount Price'] > -1 ]
discount_filtered_grouped = discount_filtered.groupby('Hotel Name')['Discount Price']
discount_filtered["Normal"] = discount_filtered_grouped.transform(lambda x: round((x - min(x) ) / ( max(x) - min(x) ) * 100) ) 

discount_synth = checkin_hotel_discount[checkin_hotel_discount['Discount Price'] == -1 ]
discount_synth["Normal"] = -1


#checkin_hotel_discount
normal_dataFrame = discount_synth.append(discount_filtered)
normal_dataFrame.sort_values(by=["Hotel Name","Checkin Date","Discount Code"],ascending=True,inplace=True)
normal_dataFrame

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,index,Hotel Name,Checkin Date,Discount Code,Discount Price,Normal
0,16740,Aloft Harlem,10/1/2015 0:00,1,-1,-1.0
1,16741,Aloft Harlem,10/1/2015 0:00,2,-1,-1.0
2,16742,Aloft Harlem,10/1/2015 0:00,3,-1,-1.0
3,16743,Aloft Harlem,10/1/2015 0:00,4,-1,-1.0
4,3600,Aloft Harlem,10/14/2015 0:00,1,1381,72.0
5,16645,Aloft Harlem,10/14/2015 0:00,2,-1,-1.0
6,4129,Aloft Harlem,10/14/2015 0:00,3,1164,32.0
7,16647,Aloft Harlem,10/14/2015 0:00,4,-1,-1.0
8,16712,Aloft Harlem,10/15/2015 0:00,1,-1,-1.0
9,16713,Aloft Harlem,10/15/2015 0:00,2,-1,-1.0
10,16714,Aloft Harlem,10/15/2015 0:00,3,-1,-1.0
11,16715,Aloft Harlem,10/15/2015 0:00,4,-1,-1.0
12,16756,Aloft Harlem,10/16/2015 0:00,1,-1,-1.0
13,16757,Aloft Harlem,10/16/2015 0:00,2,-1,-1.0
14,47613,Aloft Harlem,10/16/2015 0:00,3,1240,46.0
15,16759,Aloft Harlem,10/16/2015 0:00,4,-1,-1.0
16,16764,Aloft Harlem,10/2/2015 0:00,1,-1,-1.0
17,50105,Aloft Harlem,10/2/2015 0:00,2,1272,52.0
18,50103,Aloft Harlem,10/2/2015 0:00,3,1326,62.0
19,50556,Aloft Harlem,10/2/2015 0:00,4,1381,72.0
20,10208,Aloft Harlem,10/21/2015 0:00,1,1175,34.0
21,16661,Aloft Harlem,10/21/2015 0:00,2,-1,-1.0
22,10088,Aloft Harlem,10/21/2015 0:00,3,1249,48.0
23,16663,Aloft Harlem,10/21/2015 0:00,4,-1,-1.0
24,16676,Aloft Harlem,10/22/2015 0:00,1,-1,-1.0
25,16677,Aloft Harlem,10/22/2015 0:00,2,-1,-1.0
26,17512,Aloft Harlem,10/22/2015 0:00,3,1225,43.0
27,16679,Aloft Harlem,10/22/2015 0:00,4,-1,-1.0
28,16784,Aloft Harlem,10/27/2015 0:00,1,-1,-1.0
29,56125,Aloft Harlem,10/27/2015 0:00,2,1220,42.0
...,...,...,...,...,...,...
23810,53627,ink48 hotel a Kimpton Hotel,8/28/2015 0:00,3,1058,10.0
23811,53813,ink48 hotel a Kimpton Hotel,8/28/2015 0:00,4,1084,13.0
23812,4364,ink48 hotel a Kimpton Hotel,9/10/2015 0:00,1,-1,-1.0
23813,4365,ink48 hotel a Kimpton Hotel,9/10/2015 0:00,2,-1,-1.0
23814,4366,ink48 hotel a Kimpton Hotel,9/10/2015 0:00,3,-1,-1.0
23815,4367,ink48 hotel a Kimpton Hotel,9/10/2015 0:00,4,-1,-1.0
23816,4428,ink48 hotel a Kimpton Hotel,9/11/2015 0:00,1,-1,-1.0
23817,4429,ink48 hotel a Kimpton Hotel,9/11/2015 0:00,2,-1,-1.0
23818,4430,ink48 hotel a Kimpton Hotel,9/11/2015 0:00,3,-1,-1.0
23819,4431,ink48 hotel a Kimpton Hotel,9/11/2015 0:00,4,-1,-1.0
23820,4408,ink48 hotel a Kimpton Hotel,9/16/2015 0:00,1,-1,-1.0
23821,4409,ink48 hotel a Kimpton Hotel,9/16/2015 0:00,2,-1,-1.0
23822,4410,ink48 hotel a Kimpton Hotel,9/16/2015 0:00,3,-1,-1.0
23823,4411,ink48 hotel a Kimpton Hotel,9/16/2015 0:00,4,-1,-1.0
23824,4412,ink48 hotel a Kimpton Hotel,9/17/2015 0:00,1,-1,-1.0
23825,4413,ink48 hotel a Kimpton Hotel,9/17/2015 0:00,2,-1,-1.0
23826,4414,ink48 hotel a Kimpton Hotel,9/17/2015 0:00,3,-1,-1.0
23827,4415,ink48 hotel a Kimpton Hotel,9/17/2015 0:00,4,-1,-1.0
23828,4432,ink48 hotel a Kimpton Hotel,9/18/2015 0:00,1,-1,-1.0
23829,4433,ink48 hotel a Kimpton Hotel,9/18/2015 0:00,2,-1,-1.0
23830,4434,ink48 hotel a Kimpton Hotel,9/18/2015 0:00,3,-1,-1.0
23831,4435,ink48 hotel a Kimpton Hotel,9/18/2015 0:00,4,-1,-1.0
23832,4400,ink48 hotel a Kimpton Hotel,9/30/2015 0:00,1,-1,-1.0
23833,4401,ink48 hotel a Kimpton Hotel,9/30/2015 0:00,2,-1,-1.0
23834,4402,ink48 hotel a Kimpton Hotel,9/30/2015 0:00,3,-1,-1.0
23835,4403,ink48 hotel a Kimpton Hotel,9/30/2015 0:00,4,-1,-1.0
23836,4372,ink48 hotel a Kimpton Hotel,9/9/2015 0:00,1,-1,-1.0
23837,4373,ink48 hotel a Kimpton Hotel,9/9/2015 0:00,2,-1,-1.0
23838,4374,ink48 hotel a Kimpton Hotel,9/9/2015 0:00,3,-1,-1.0
23839,4375,ink48 hotel a Kimpton Hotel,9/9/2015 0:00,4,-1,-1.0

## Flatten

In [55]:
# building list out of each value of hotel name
rows = []
def createRow(x):    
    new_list = x.tolist()
    new_list.insert(0,x.name)
    rows.append(new_list)
    
#converting the list to multi-columns data frame
normal_dataFrame.groupby("Hotel Name")["Normal"].transform( createRow )  # group by returns for each hotel a list of his normalized prices
rows_with_less = [row for row in rows if len(row) < 162]

# vector = pd.DataFrame.from_records(rows)

# Vector - each row represents a hotel along with his 160 normalized prices

## Filling N/A values with  0

In [56]:
#filling missing data with 0 
vector_noNan =  vector.fillna(0)
import math
for list1 in vector_noNan.values[:,1:160]:
    for value in list1:
        if not np.isfinite(value):
            print(list1)

NameError: name 'vector' is not defined

## Building Hierarchical  Clustering

In [ ]:
#importing clustering libaries 
from scipy.cluster.hierarchy import dendrogram, linkage 
from matplotlib import pyplot as plt
from scipy import cluster
shc = cluster.hierarchy

#preproccesing data for clustering
labels = vector_noNan.values[:,0]
data = vector_noNan.values[:,1:160]
plt.figure(figsize=(20, 10))  
plt.title("Clustering Hotels")  

# "ward" - minimizes the variance between clusters, that means that each two clusters were combine if their variance is alike 
Z = shc.linkage(data, method='ward')
dend = shc.dendrogram(Z, labels=labels) 
#plt.show(dend)

In [ ]:
#3 clusters seems the best choise
cut1 = shc.cut_tree(Z,n_clusters=3)

## Hotel to cluster

In [ ]:
from sklearn.cluster import AgglomerativeClustering

#running the algorithem again in a diffrent way
cluster = AgglomerativeClustering(n_clusters=3, affinity='euclidean', linkage='ward')  
clusters = cluster.fit_predict(vector_noNan.values[:,1:160])  

hotels = pd.DataFrame.from_records(vector_noNan.values)

hotels["cluster"] = clusters
hotels = hotels[[0,"cluster"]]
hotels.sort_values(by=["cluster"],ascending=True,inplace=True)

hotels["Count"] = hotels.groupby("cluster")[0].transform("count")
hotels

## Displaying clustering in scatter graph

In [ ]:
from sklearn.decomposition import PCA
from sklearn.datasets import load_iris
from sklearn.cluster import AgglomerativeClustering


pca = PCA(n_components=2).fit(data)
pca_2d = pca.transform(data)

cluster = AgglomerativeClustering(n_clusters=3, affinity='euclidean', linkage='ward')  
cluster.fit_predict(pca_2d)  

plt.figure(figsize=(10, 7))  
plt.scatter(pca_2d[:,0],pca_2d[:,1],c=cluster.labels_, cmap='rainbow')