In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
df = pd.read_csv("hotels_data.csv")

from datetime import datetime
from dateutil.parser import parse

def get_datetime(date_str):
    return datetime.strptime(date_str, '%m/%d/%Y %H:%M')

df["DayDiff"] = DataFrame([get_datetime(val) for val in df["Checkin Date"]]) - DataFrame([get_datetime(val) for val in df["Snapshot Date"]])
df["WeekDay"] = DataFrame([get_datetime(val).weekday() for val in df["Checkin Date"]])
df["DiscountDiff"] = df["Original Price"] - df["Discount Price"]
df["DiscountPerc"] = (df["DiscountDiff"]/df["Original Price"]) * 100
df

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2,138,11.714771
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2,131,11.769991
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3,130,2.974828
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6,72,4.140311
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2,67,3.852789
5,1,7/17/2015 0:00,8/7/2015 0:00,5,1436,1345,1,9,Grand Hyatt New York,4,21 days,4,91,6.337047
6,1,7/17/2015 0:00,8/9/2015 0:00,5,1616,1525,1,5,Grand Hyatt New York,4,23 days,6,91,5.631188
7,1,7/17/2015 0:00,8/12/2015 0:00,5,1256,1183,1,5,Grand Hyatt New York,4,26 days,2,73,5.812102
8,1,7/17/2015 0:00,8/13/2015 0:00,5,1256,1201,1,54,Grand Hyatt New York,4,27 days,3,55,4.378981
9,1,7/17/2015 0:00,7/22/2015 0:00,5,1689,1489,1,-1,Hilton New York Fashion District,4,5 days,2,200,11.841326
10,1,7/17/2015 0:00,7/30/2015 0:00,5,2098,2003,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,13 days,3,95,4.528122
11,1,7/17/2015 0:00,7/31/2015 0:00,5,2120,2026,1,-1,DoubleTree Suites by Hilton New York City - Ti...,4,14 days,4,94,4.433962
12,1,7/17/2015 0:00,7/26/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,9 days,6,70,4.204204
13,1,7/17/2015 0:00,8/2/2015 0:00,5,1665,1595,1,-1,Hampton Inn Manhattan Soho,3,16 days,6,70,4.204204
14,1,7/17/2015 0:00,7/22/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,5 days,2,150,3.846154
15,1,7/17/2015 0:00,7/23/2015 0:00,5,3900,3750,1,8,Park Hyatt New York,5,6 days,3,150,3.846154
16,1,7/17/2015 0:00,7/24/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,7 days,4,150,3.846154
17,1,7/17/2015 0:00,7/25/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,8 days,5,150,3.846154
18,1,7/17/2015 0:00,7/26/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,9 days,6,150,3.846154
19,1,7/17/2015 0:00,7/27/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,10 days,0,150,3.846154
20,1,7/17/2015 0:00,7/28/2015 0:00,5,3900,3750,1,9,Park Hyatt New York,5,11 days,1,150,3.846154
21,1,7/17/2015 0:00,8/3/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,17 days,0,85,2.258836
22,1,7/17/2015 0:00,8/4/2015 0:00,5,3763,3678,1,49,Park Hyatt New York,5,18 days,1,85,2.258836
23,1,7/17/2015 0:00,8/5/2015 0:00,5,3763,3378,1,49,Park Hyatt New York,5,19 days,2,385,10.231199
24,1,7/17/2015 0:00,8/6/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,20 days,3,85,2.258836
25,1,7/17/2015 0:00,8/7/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,21 days,4,175,4.650545
26,1,7/17/2015 0:00,8/8/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,22 days,5,175,4.650545
27,1,7/17/2015 0:00,8/9/2015 0:00,5,3763,3588,1,-1,Park Hyatt New York,5,23 days,6,175,4.650545
28,1,7/17/2015 0:00,8/10/2015 0:00,5,3763,3678,1,-1,Park Hyatt New York,5,24 days,0,85,2.258836
29,1,7/17/2015 0:00,8/12/2015 0:00,5,3763,3378,1,39,Park Hyatt New York,5,26 days,2,385,10.231199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187818,99,8/15/2015 0:00,8/17/2015 0:00,5,1311,1229,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,2 days,0,82,6.254767
187819,99,8/15/2015 0:00,8/19/2015 0:00,5,1029,949,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,4 days,2,80,7.774538
187820,99,8/15/2015 0:00,8/30/2015 0:00,5,1006,874,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,15 days,6,132,13.121272
187821,99,8/15/2015 0:00,9/3/2015 0:00,5,1230,1158,4,-1,Hilton Garden Inn New York Manhattan-Chelsea,4,19 days,3,72,5.853659
187822,99,8/15/2015 0:00,9/2/2015 0:00,5,2133,1984,4,-1,Hampton Inn Manhattan United Nations,3,18 days,2,149,6.985466
187823,99,8/15/2015 0:00,9/4/2015 0:00,5,1922,1246,4,-1,Hampton Inn Manhattan United Nations,3,20 days,4,676,35.171696
187824,99,8/15/2015 0:00,9/17/2015 0:00,5,1607,1363,4,-1,Hampton Inn Manhattan United Nations,3,33 days,3,244,15.183572
187825,99,8/15/2015 0:00,9/18/2015 0:00,5,1859,1606,4,-1,Hampton Inn Manhattan United Nations,3,34 days,4,253,13.609467
187826,99,8/15/2015 0:00,9/17/2015 0:00,5,1210,1158,4,-1,Fairfield Inn & Suites New York Queens Queensb...,3,33 days,3,52,4.297521
187827,99,8/15/2015 0:00,9/9/2015 0:00,5,1665,1548,4,-1,Hampton Inn Madison Square Garden Area Hotel,3,25 days,2,117,7.027027
187828,99,8/15/2015 0:00,8/17/2015 0:00,5,1166,1112,4,-1,Holiday Inn Express New York City Times Square,3,2 days,0,54,4.631218
187829,99,8/15/2015 0:00,8/20/2015 0:00,5,1122,1054,4,1,Martha Washington,4,5 days,3,68,6.060606
187830,99,8/15/2015 0:00,8/25/2015 0:00,5,1238,1098,4,1,Martha Washington,4,10 days,1,140,11.308562
187831,99,8/15/2015 0:00,8/31/2015 0:00,5,1175,1122,4,27,Martha Washington,4,16 days,0,53,4.510638
187832,99,8/15/2015 0:00,9/16/2015 0:00,5,1786,1561,4,3,The Gregory,4,32 days,2,225,12.597984
187833,99,8/15/2015 0:00,9/17/2015 0:00,5,1759,1559,4,3,The Gregory,4,33 days,3,200,11.370097
187834,99,8/15/2015 0:00,8/19/2015 0:00,5,1095,1025,4,-1,DoubleTree by Hilton New York City - Financial...,4,4 days,2,70,6.392694
187835,99,8/15/2015 0:00,8/20/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,5 days,3,130,13.065327
187836,99,8/15/2015 0:00,8/27/2015 0:00,5,995,865,4,-1,DoubleTree by Hilton New York City - Financial...,4,12 days,3,130,13.065327
187837,99,8/15/2015 0:00,9/7/2015 0:00,5,2215,2061,4,83,NOMO SOHO,5,23 days,0,154,6.952596
187838,99,8/15/2015 0:00,8/25/2015 0:00,5,1322,1268,4,92,W New York,4,10 days,1,54,4.084720
187839,99,8/15/2015 0:00,8/19/2015 0:00,5,1445,1345,4,-1,Cassa Hotel 45th Street,4,4 days,2,100,6.920415
187840,99,8/15/2015 0:00,8/26/2015 0:00,5,1545,1435,4,-1,Cassa Hotel 45th Street,4,11 days,2,110,7.119741
187841,99,8/15/2015 0:00,8/27/2015 0:00,5,1245,1075,4,-1,Cassa Hotel 45th Street,4,12 days,3,170,13.654618
187842,99,8/15/2015 0:00,9/3/2015 0:00,5,1895,1735,4,-1,Cassa Hotel 45th Street,4,19 days,3,160,8.443272
187843,99,8/15/2015 0:00,9/4/2015 0:00,5,1995,1935,4,-1,Cassa Hotel 45th Street,4,20 days,4,60,3.007519
187844,99,8/15/2015 0:00,9/4/2015 0:00,5,2105,1865,4,4,The Jade Hotel,4,20 days,4,240,11.401425
187845,99,8/15/2015 0:00,8/20/2015 0:00,5,1456,1397,4,8,Hyatt Union Square New York,4,5 days,3,59,4.052198
187846,99,8/15/2015 0:00,9/2/2015 0:00,5,1705,1648,4,2,Hyatt Union Square New York,4,18 days,2,57,3.343109
187847,99,8/15/2015 0:00,9/4/2015 0:00,5,1895,1743,4,-1,Hyatt Union Square New York,4,20 days,4,152,8.021108

## Top 150 common hotels

In [2]:
df["Hotel_Count"] = df.groupby('Hotel Name')['Hotel Name'].transform('count')
df=df.sort_values(by=['Hotel_Count'],ascending=False).reset_index()

df_hotels = df["Hotel Name"].unique()[:150]
most_common_hotels = df[df['Hotel Name'].isin(df_hotels)]

## Top 40 checkins contain most lists

In [3]:
most_common_hotels["Checkin_Count"] = most_common_hotels.groupby('Checkin Date')['Checkin Date'].transform('count')
most_common_hotels = most_common_hotels.sort_values(by=['Checkin_Count'],ascending=False).reset_index()

common_checkins_list = most_common_hotels["Checkin Date"].unique()[:40]
most_checkins = most_common_hotels[most_common_hotels['Checkin Date'].isin(common_checkins_list)]


##taking top 40

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Checkin - Hotel - Discount Code

In [15]:
#most_checkins.drop["Checkin Date","Hotel Name","Discount Code","Discount Price"]
#most_checkins.drop(axis=1,labels=["level_1","index","Discount Code","Discount Price"]inplace=True)
#most_checkins

unique_hotels = most_checkins["Hotel Name"].unique()
unique_checkins =  most_checkins["Checkin Date"].unique()
unique_discount_code =  [1,2,3,4]

import itertools
import sys

#Creating default data
lists_combination =  list(itertools.product(zip(unique_hotels,unique_checkins,unique_discount_code,[sys.maxsize])))
new_df =  DataFrame.from_records(lists_combination,columns=["Hotel Name","Checkin Date","Discount Code","Discount Price"])

#Appending to exist
most_checkins = most_checkins.append(new_df)

#Finding minimum for Checkin Date-Hotel Name-Discount Code
grouped = most_checkins.groupby(['Hotel Name','Checkin Date','Discount Code'])["Discount Price"].min()
grouped.replace({sys.maxsize:-1},inplace=True) 
#grouped


lists_combination
#new_df[new_df["Hotel Name"] == "New York Marriott Downtown"]
#checkin_hotel_discount =  pd.DataFrame(grouped)
#checkin_hotel_discount.replace({sys.maxsize:-1})

AssertionError: 4 columns passed, passed data had 1 columns

## Normalization of data

In [ ]:

grouped.transform(lambda x: (x /max(x)  * 100)) #normalization per group per table

In [ ]:
hotel = df.loc[df['Hotel Name'] == 'Newark Liberty International Airport Marriott']

hotel = hotel.sort_values(by=['Checkin Date','Hotel Name','Discount Code'])[['Checkin Date','Hotel Name','Discount Code','Discount Price']]