In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
df = pd.read_csv("hotels_data.csv")

from datetime import datetime
from dateutil.parser import parse

def get_datetime(date_str):
    return datetime.strptime(date_str, '%m/%d/%Y %H:%M')

df["DayDiff"] = DataFrame([get_datetime(val) for val in df["Checkin Date"]]) - DataFrame([get_datetime(val) for val in df["Snapshot Date"]])
df["WeekDay"] = DataFrame([get_datetime(val).weekday() for val in df["Checkin Date"]])
df["DiscountDiff"] = df["Original Price"] - df["Discount Price"]
df["DiscountPerc"] = (df["DiscountDiff"]/df["Original Price"]) * 100

## Top 150 common hotels

In [3]:
df["Hotel_Count"] = df.groupby('Hotel Name')['Hotel Name'].transform('count')
df=df.sort_values(by=['Hotel_Count'],ascending=False)
df
#taking top 150

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc,Hotel_Count
31635,213,9/7/2015 0:00,9/16/2015 0:00,5,1221,1009,2,-1,Newark Liberty International Airport Marriott,4,9 days,2,212,17.362817,5346
20006,164,8/28/2015 0:00,9/14/2015 0:00,5,1264,1077,3,-1,Newark Liberty International Airport Marriott,4,17 days,0,187,14.794304,5346
156866,554,12/15/2015 0:00,12/16/2015 0:00,5,1385,925,1,4,Newark Liberty International Airport Marriott,4,1 days,2,460,33.212996,5346
47451,3,7/18/2015 0:00,8/17/2015 0:00,5,1177,969,3,-1,Newark Liberty International Airport Marriott,4,30 days,0,208,17.672048,5346
47452,3,7/18/2015 0:00,8/17/2015 0:00,5,1177,1052,4,-1,Newark Liberty International Airport Marriott,4,30 days,0,125,10.620221,5346
47453,3,7/18/2015 0:00,8/18/2015 0:00,5,1194,861,2,-1,Newark Liberty International Airport Marriott,4,31 days,1,333,27.889447,5346
47454,3,7/18/2015 0:00,8/18/2015 0:00,5,1194,944,3,-1,Newark Liberty International Airport Marriott,4,31 days,1,250,20.938023,5346
47455,3,7/18/2015 0:00,8/18/2015 0:00,5,1194,1069,4,-1,Newark Liberty International Airport Marriott,4,31 days,1,125,10.469012,5346
47456,3,7/18/2015 0:00,8/19/2015 0:00,5,1156,753,1,-1,Newark Liberty International Airport Marriott,4,32 days,2,403,34.861592,5346
47457,3,7/18/2015 0:00,8/19/2015 0:00,5,1156,836,2,-1,Newark Liberty International Airport Marriott,4,32 days,2,320,27.681661,5346
47458,3,7/18/2015 0:00,8/19/2015 0:00,5,1156,961,3,-1,Newark Liberty International Airport Marriott,4,32 days,2,195,16.868512,5346
47459,3,7/18/2015 0:00,8/20/2015 0:00,5,1118,1055,2,-1,Newark Liberty International Airport Marriott,4,33 days,3,63,5.635063,5346
47460,3,7/18/2015 0:00,8/20/2015 0:00,5,1118,785,3,-1,Newark Liberty International Airport Marriott,4,33 days,3,333,29.785331,5346
47461,3,7/18/2015 0:00,8/20/2015 0:00,5,1118,715,4,-1,Newark Liberty International Airport Marriott,4,33 days,3,403,36.046512,5346
20000,164,8/28/2015 0:00,9/1/2015 0:00,5,995,901,3,-1,Newark Liberty International Airport Marriott,4,4 days,1,94,9.447236,5346
20001,164,8/28/2015 0:00,9/2/2015 0:00,5,995,901,3,-1,Newark Liberty International Airport Marriott,4,5 days,2,94,9.447236,5346
20002,164,8/28/2015 0:00,9/7/2015 0:00,5,995,855,3,-1,Newark Liberty International Airport Marriott,4,10 days,0,140,14.070352,5346
20003,164,8/28/2015 0:00,9/8/2015 0:00,5,995,855,3,-1,Newark Liberty International Airport Marriott,4,11 days,1,140,14.070352,5346
20004,164,8/28/2015 0:00,9/9/2015 0:00,5,1016,870,3,-1,Newark Liberty International Airport Marriott,4,12 days,2,146,14.370079,5346
156867,554,12/15/2015 0:00,1/6/2016 0:00,5,1068,743,1,5,Newark Liberty International Airport Marriott,4,22 days,2,325,30.430712,5346
20007,164,8/28/2015 0:00,9/15/2015 0:00,5,1264,1128,3,-1,Newark Liberty International Airport Marriott,4,18 days,1,136,10.759494,5346
116728,492,11/2/2015 0:00,11/11/2015 0:00,5,1195,1042,3,5,Newark Liberty International Airport Marriott,4,9 days,2,153,12.803347,5346
20008,164,8/28/2015 0:00,9/16/2015 0:00,5,1238,1094,3,-1,Newark Liberty International Airport Marriott,4,19 days,2,144,11.631664,5346
20012,164,8/28/2015 0:00,9/24/2015 0:00,5,1246,1111,3,-1,Newark Liberty International Airport Marriott,4,27 days,3,135,10.834671,5346
20013,164,8/28/2015 0:00,9/28/2015 0:00,5,1270,1058,3,-1,Newark Liberty International Airport Marriott,4,31 days,0,212,16.692913,5346
20014,164,8/28/2015 0:00,9/29/2015 0:00,5,1270,1066,3,-1,Newark Liberty International Airport Marriott,4,32 days,1,204,16.062992,5346
20015,164,8/28/2015 0:00,9/30/2015 0:00,5,1236,1058,3,-1,Newark Liberty International Airport Marriott,4,33 days,2,178,14.401294,5346
113576,489,10/31/2015 0:00,12/3/2015 0:00,5,1203,1152,2,5,Newark Liberty International Airport Marriott,4,33 days,3,51,4.239401,5346
113575,489,10/31/2015 0:00,12/2/2015 0:00,5,1186,923,2,5,Newark Liberty International Airport Marriott,4,32 days,2,263,22.175379,5346
20009,164,8/28/2015 0:00,9/17/2015 0:00,5,1221,966,3,-1,Newark Liberty International Airport Marriott,4,20 days,3,255,20.884521,5346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69344,428,10/1/2015 0:00,10/16/2015 0:00,5,2036,1917,3,1,The Nolitan,4,15 days,4,119,5.844794,2
80168,442,10/8/2015 0:00,10/13/2015 0:00,5,940,790,1,9,Radisson Hotel JFK Airport,4,5 days,1,150,15.957447,2
43890,267,9/15/2015 0:00,9/18/2015 0:00,5,780,735,3,8,La Quinta Inn and Suites JFK Airport,3,3 days,4,45,5.769231,2
18645,160,8/27/2015 0:00,8/28/2015 0:00,5,825,774,2,1,Chelsea Savoy Hotel,2,1 days,4,51,6.181818,2
43583,267,9/15/2015 0:00,9/16/2015 0:00,5,785,740,2,6,La Quinta Inn and Suites JFK Airport,3,1 days,2,45,5.732484,2
43808,267,9/15/2015 0:00,9/16/2015 0:00,5,2755,2675,2,4,Executive Hotel Le Soleil New York,4,1 days,2,80,2.903811,2
21913,174,8/30/2015 0:00,9/22/2015 0:00,5,1945,1800,1,3,Orchard Street Hotel,3,23 days,1,145,7.455013,2
128789,506,11/9/2015 0:00,12/5/2015 0:00,5,1007,880,2,2,Hotel Luxe,2,26 days,5,127,12.611718,2
43509,267,9/15/2015 0:00,9/16/2015 0:00,5,2755,2675,1,4,Executive Hotel Le Soleil New York,4,1 days,2,80,2.903811,2
129228,506,11/9/2015 0:00,12/2/2015 0:00,5,1041,914,3,2,Hotel Luxe,2,23 days,2,127,12.199808,2
81362,442,10/8/2015 0:00,10/14/2015 0:00,5,924,773,4,9,Radisson Hotel JFK Airport,4,6 days,2,151,16.341991,2
174280,585,12/30/2015 0:00,12/31/2015 0:00,5,885,833,2,1,The Brooklyn A Hotel,3,1 days,3,52,5.875706,2
70467,431,10/2/2015 0:00,10/5/2015 0:00,5,714,590,2,1,AnYi Guesthouse Flushing,3,3 days,0,124,17.366947,2
90297,457,10/15/2015 0:00,11/18/2015 0:00,5,1391,1306,2,2,The Manhattan Club,4,34 days,2,85,6.110712,2
63679,417,9/26/2015 0:00,10/6/2015 0:00,5,817,750,1,4,Anchor Inn,2,10 days,1,67,8.200734,2
24173,182,8/31/2015 0:00,9/13/2015 0:00,5,750,550,1,3,AnYi Guesthouse Flushing,3,13 days,6,200,26.666667,2
49198,31,7/30/2015 0:00,8/8/2015 0:00,5,1275,1217,1,2,Fitzpatrick Manhattan Hotel,4,9 days,5,58,4.549020,2
49756,31,7/30/2015 0:00,8/13/2015 0:00,5,1595,1495,2,1,Chelsea Pines Inn,3,14 days,3,100,6.269592,1
125517,503,11/7/2015 0:00,11/15/2015 0:00,5,1355,1291,1,1,Duane Street Hotel Tribeca,4,8 days,6,64,4.723247,1
131415,511,11/11/2015 0:00,11/26/2015 0:00,5,1475,1160,2,5,Fairfield Inn New York Midtown Manhattan Penn ...,3,15 days,3,315,21.355932,1
186463,94,8/14/2015 0:00,9/12/2015 0:00,5,1509,1456,3,-1,Econo Lodge Times Square,3,29 days,5,53,3.512260,1
43492,267,9/15/2015 0:00,9/17/2015 0:00,5,1271,1206,1,2,Americana Inn,2,2 days,3,65,5.114083,1
169533,575,12/25/2015 0:00,12/27/2015 0:00,5,338,318,3,3,Riviera Hotel,2,2 days,6,20,5.917160,1
173627,582,12/29/2015 0:00,1/29/2016 0:00,5,583,543,3,1,Super Family Flat in Little Italy,3,31 days,4,40,6.861063,1
128448,506,11/9/2015 0:00,11/27/2015 0:00,5,689,639,2,12,Extended Stay America New York City - LaGuardi...,2,18 days,4,50,7.256894,1
141870,530,11/21/2015 0:00,11/26/2015 0:00,5,1547,1487,1,2,Ramada Flushing Queens,2,5 days,3,60,3.878474,1
37590,23,7/26/2015 0:00,8/16/2015 0:00,5,845,795,3,8,Hotel Le Jolie,3,21 days,6,50,5.917160,1
58562,403,9/20/2015 0:00,9/29/2015 0:00,5,924,823,3,40,Best Western Plus LaGuardia Airport Hotel Queens,3,9 days,1,101,10.930736,1
37276,23,7/26/2015 0:00,8/11/2015 0:00,5,735,675,2,-1,Union Hotel an Ascend Hotel Collection Member,3,16 days,1,60,8.163265,1
182228,80,8/11/2015 0:00,9/11/2015 0:00,5,3349,3286,4,1,Best Western Plus Hospitality House,3,31 days,4,63,1.881159,1

In [ ]:
count=0
df_new = pd.DataFrame()
old_row = df[0]
current_index =0
for index, row in df.iterrows(): 
    if row['Hotel Name'] != old_row['Hotel Name']:
        count=count+1
    old_row = df[index]
    if count>1:
        break;
    current_index = index

df=df[:current_index]
df

In [ ]:

my_list =[]
for name, group in itertools.islice(groups , 0, 149):
    my_list.append(group)

## Top 40 checkins contain most lists

In [ ]:
df["Checkin_Count"] = df.groupby('Checkin Date')['Checkin Date'].transform('count')
df=df.sort_values(by=['Checkin_Count'],ascending=False)


##taking top 40

## Checkin - Hotel - Discount Code

In [ ]:
grouped = df1.groupby(['Checkin Date','Hotel Name','Discount Code'])["Discount Price"].min()
#need to add auto complete discount code

## normalization of data

In [ ]:

grouped.transform(lambda x: (x /max(x)  * 100)) #normalization per group per table

In [16]:
hotel = df.loc[df['Hotel Name'] == 'Newark Liberty International Airport Marriott']

hotel = hotel.sort_values(by=['Checkin Date','Hotel Name','Discount Code'])[['Checkin Date','Hotel Name','Discount Code','Discount Price']]

167910    False
172896     True
174840     True
170926     True
149708     True
148355     True
171943     True
168920     True
173119    False
175059     True
170152     True
171166     True
168142     True
169148     True
150044     True
174057     True
148657     True
171488    False
169476     True
149082     True
174395     True
150504     True
170464     True
175374     True
168471     True
161465    False
161731    False
162053    False
167735    False
164566     True
          ...
7263       True
186965     True
21987      True
17092      True
20823      True
183907     True
20004     False
186253     True
26866      True
25746      True
181893     True
183127     True
18765      True
10249      True
160904     True
16253      True
11488      True
30035      True
24616      True
21184      True
187357     True
9011       True
184197     True
177323     True
17489      True
123337     True
22368      True
29056      True
7690       True
13886      True
Length: 5346, dtype: bool